
@import "../base/color";
.calendar-wrapper{
    width: 100%;
    background: $color-white;
    border-radius: 0.625em;
  }
  .wrapper .calendar-header{
    display: flex;
    align-items: center;
    padding: 1.563em 1.875em 0.625em;
    justify-content: space-between;
  }
  .calendar-header .icons{
    display: flex;
  }
  .calendar-header .icons span{
    height: 2em;
    width: 2em;
    margin: 0 0.063em;
    cursor: pointer;
    color: $colorgray53;
    text-align: center;
    line-height: 2.375em;
    font-size: 1.9em;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -0.625em;
  }
  header .icons span:hover{
    background: $color-whitelight;
  }
  header .current-date{
    font-size: 1.45em;
    font-weight: 500;
  }
  .calendar{
    padding: 1.25em;
    @media (max-width:48em) {
      padding: 0.628em;
    }
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding-left: 0;

  }
  .calendar .days{
    margin-bottom: 1.25em;
    padding-left: 0;
    height: 18.75em;
    @media (max-width:48em)  {
      padding-left: 0;
      height: 21.25em;
    }
  }
  .calendar li{
    color: $color-Dark-charcoal;
    max-width: calc(100% / 7);
    min-width:calc(100% / 7);
    width: 100%;
    font-size: 1.07em;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
   
    position: relative;
    margin-top: 0.5em;
    text-align: center;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .calendar .days li p{
    margin-bottom: 0;
   
  }
  .days li.inactive{
    color: $colorlightgray;
   visibility: hidden !important;
  }
  .days li.active{
    color: $color-white;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 2em;
    width: 2em;
    padding: 1em;
    z-index: -1;
    border-radius: 0.625em;
    transform: translate(-50%, -50%);
    background: $primarydark;

    @media (max-width:48em) {
        height: 2.5em;
        width: 2.5em;
    }
  }
  
  .days li.active::before  {
    background: $color-purple;
  }
  .days li:hover::before {
    background: $color-purple;
  }
  .days li:not(.active):hover::before{
    background: $color-purple;
    color: $color-white;
  }

.days li.present::before {
    background: $color-presentgreen;
}
.days li.absent::before {
    background: $color-red;
    cursor: pointer;
}
.days li.absent {
  color: $color-white;
  cursor: pointer;
}
.days li.halfday::before {
    background: $color-yellow;
    cursor: pointer;

}
.days{
  li.weekoff {
    &::before {
      background: $colorgray;
    }
    p {
      color: $color-white;
    }
  }
}
.day li.weekoff::before {
  background: $colorgray;
}
li.halfdayapproved::after {
  position: absolute;
    content: "";
    left: 50%;
    top: 33%;
    height: 1.2em;
    width: 1em;
    padding: 1em;
    z-index: -1;
    border-radius: 0.625em 0.625em 0 0;
    transform: translate(-50%, -50%);
    background: $color-translucent-navy-blue;
  @media (max-width:48em) {
      width: 2.5em;
  }
}

.days li.halfdayapproved::after {
  background:$color-orange;
  padding: 0 1em 0 1em;
  cursor: pointer;
}
.days li.paidleave::before {
    background: $color-orange;
}

.days li.national-holiday::before {
  background: $colorgray;
}

.days li.active::before{
 color:$color-presentgreen;
}