.profile-tabs {
  .nav-item {
    .nav-link {
      background-color: $primarycolorlighter;
      color: $globalfontcolor;
        font-weight: 500;
        margin:0.313em 0.313em 0 0 ;
        &.active {
            color: $color-white;
            background-color: $primarycolor;
        }
    }
  }
  @media (max-width:768px) {
    justify-content: center;
  }
}
.custom-nav-tab {
  .nav {
    .nav-link {
      color: var(--color-fg);
      border: none;
      font-weight: $font-weight-medium;
      &.active {
        color: $primarycolor;
        border-bottom: 0.063em solid $primarycolor;
      }
    }
  }
}
.custom-nav-pill {
  .nav {
    .nav-link {
      color: $primarycolor;
      border-radius: $border-radius;
      &.active {
        color: $color-white;
        background-color: $primarycolor;
      }
    }
  }
}