@use "../base/variable" as v;
@use "../base/color" as c;

table {
  thead {
    tr {
      // background-color: var(--color-tableheaderbg) !important;
      // background: var(--color-tableheaderbg)  !important;
      // color: $globalfontcolor !important;

      th {
        text-align: start;
        text-wrap: nowrap !important;
        text-transform: capitalize;
        // background-color: $primarycolorlighter !important;
        // background: $primarycolorlighter !important;
        // color: $globalfontcolor !important;
        font-size: $font-size-normal !important;
      }
    }
  }

  tbody {
    tr {
      th {
        text-align: start;
        text-wrap: nowrap !important;
        text-transform: capitalize;
        font-size: $font-size-normal !important;
      }

      td {
        text-align: start;
        vertical-align: middle;
        text-transform: capitalize;
        font-size: $font-size-normal !important;
        background: $bgcolortable;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

.salarysliptable {
  background: $color-MidnightBlue;
  display: flex;
  flex-direction: column;

  table {
    background: transparent;

    th {
      background: transparent;
    }

    Tr {
      background: transparent;

      td {
        background: transparent;
      }
    }
  }
}

.salpayrolltable-wrapper {
  // max-height: 18em;
  height: 100%;
  border-radius: 0.625em;
  .table {
    thead{
      tr{
        border: 0;
      }
    }
    tbody {
      tr {
        cursor: unset;
        td {
          .form-control {
            &:disabled {
              background-color: unset !important;
              color: var(--color-fg);
            }
          }
        }
          &:hover {
            background: unset !important;

            td {
              background: unset !important;
              // color: unset !important;
            }
          }
        }
      }
    }
  }

  .admintable {
    max-height: 22.75em;
    height: 100%;
    overflow: hidden;
    .table {
      padding: 0.125em;
      tr {
        th {
          font-size: $font-size-xs;
          background: $primarycolorlighter;
          color: $globalfontcolor;
          font-weight: $font-weight-medium;
        }
      }
      tr {
        td {
          padding: 0.313em;
          font-size: $font-size-xs;
          font-weight: v.$font-weight-regular;
          background: $bgcolortable;
        }
      }
    }
  }
  table.dataTable.no-footer {
    border: 0 !important;
  }
  .DataTable,
  .dataTable,
  table {
    thead {
      th {
        border-bottom: 0.0063em solid !important;
        border-bottom-color: var(--color-border-theme) !important;
        background-color: var(--color-tableheaderbg) !important;
        color: var(--color-fg) !important;
        font-weight: v.$font-weight-medium !important;
      }
    }
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background: var(--color-tableheaderbg) !important;
          td {
            background: $primarylight !important;
            color: var(--color-text) !important;
          }
        }
      }

      td {
        border-bottom: 0.062em solid !important;
        border-bottom-color: var(--color-tableheaderbg) !important;
        background-color: var(--color-bg-light) !important;
        color: var(--color-fg) !important;
      }
    }
  }

  .ip {
    display: flex;
    align-items: center;
    margin-top: 0.625em;
  }

  .emptable {
    max-height: 18.75em;
    height: 100%;
  }

  #leaveApprovalTable td:nth-child(9) {
    width: 15.625em;
    max-width: 15.625em;
  }

  #leaveReports {
    th:nth-child(10) {
      width: 15.625em !important;
      max-width: 15.625em !important;
      text-wrap: wrap !important;
    }

    td:nth-child(10) {
      width: 15.625em !important;
      max-width: 15.625em !important;
      text-wrap: wrap !important;
    }
  }

  .onboardingtdata {
    .table-responsive {
      max-height: 18.75em !important;
      height: 100%;
    }

    table {
      max-height: 18.75em !important;
      height: 100%;
      overflow: auto;
    }
  }

  .onprobation {
    .table-responsive {
      max-height: 18.75em !important;
      height: 100%;
    }

    table {
      max-height: 18.75em !important;
      height: 100%;
      overflow: auto;
    }
  }

  .onConfirmed {
    .table-responsive {
      max-height: 18.75em !important;
      height: 100%;
    }

    table {
      max-height: 18.75em !important;
      height: 100%;
      overflow: auto;
    }
  }

  .resigned {
    .table-responsive {
      max-height: 18.75em !important;
      height: 100%;
    }

    table {
      max-height: 18.75em !important;
      height: 100%;
      overflow: auto;
    }
  }

  a.view-doc {
    color: $primarycolor;
    text-decoration: none;
  }

  a.edit-button {
    color: $primarycolor;
  }

  table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 624.938em rgba(20, 36, 90, 1) !important;
    color: $color-white !important;

    a.view-doc {
      color: $color-white;
    }

    a.edit-button {
      color: $color-white;
    }
  }

  .dataTables_filter {
    margin-bottom: 0.625em;

    label {
      display: flex;
      align-items: center;
    }
  }

  #allattendanceTable thead {
    display: none;
  }

  .DataTable,
  .dataTable,
  #weekTable {
    thead {
      th {
        border-bottom: 0.063em solid !important;
        border-bottom-color: var(--color-border-theme) !important;
        background-color: var(--color-tableheaderbg) !important;
        color: var(--color-fg) !important;
        font-weight: v.$font-weight-medium !important;
      }
    }
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background: var(--color-tableheaderbg) !important;
          td {
            background: $primarylight !important;
          
            border-radius: 0!important;
          }
        }
      }

      td {
        border-bottom: 0.063em solid !important;
        border-bottom-color: var(--color-tableheaderbg) !important;
        background-color: var(--color-bg-light) !important;
        color: var(--color-fg) !important;
      }
    }
  }

  #allattendanceTable_wrapper {
    .dataTables_filter {
      display: none !important;
    }
  
    .dataTables_info {
      font-size: v.$font-size-small !important;
    }
  }

  .dataTable {
    tfoot {
      input {
        padding: 0;
        min-height: unset !important;
      }
    }
  }
.dataTables_wrapper {
  .dataTables_filter {
    display: none !important;
  }
}

.ip {
  justify-content: space-between;
}

@media (max-width:1440px) {
  .dataTable
  {
    thead {
      th {
        font-weight: $font-weight-medium;
       font-size: $font-size-normal !important;
      }
    }
    tbody {
          td {
        font-size: $font-size-normal !important;
      }
    }
  } 
}