ul {
    text-decoration: none;
    list-style: none;
    li {
        text-decoration: none;
        list-style: none;
        ::marker {
            list-style: none;
        }
    }
}

.social-list {
    display:flex;
    flex-wrap: wrap;
    .social-item {
        margin-left: 0.625em;
    }
}