@use "../base/color" as c;
@use "../base/variable" as v;

.top-header {
  display: flex;
  justify-content: space-between;
  max-height: 4.063rem;
  height: 4.063rem;

  .headerprofilewrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .custom-notification {
      padding: 0.938rem 0.625rem;

      &:hover {
        cursor: pointer;
      }
    }
    .profile-button {
      outline: none;
      border: none;
      border-color: transparent;
      i {
        font-size: 1.875rem;
      }
      &:after {
        opacity: 0 !important;
      }
    }
    .dropdown {
      .dropdown-menu {
        a.dropdown-item {
          &:hover {
            background-color: c.$primarycolor !important;
            background: c.$primarycolor !important;
            color: c.$color-white !important;
          }

          &:active {
            background-color: c.$primarycolor !important;
            color: c.$color-white !important;
          }

          &.active {
            background-color: c.$primarycolor !important;
            background: c.$primarycolor !important;
            color: c.$color-white !important;
          }
        }

        a.dropdown-item:active {
          color: c.$color-white !important;
          background-color: c.$primarycolor !important;
        }
      }
    }

    .notificationdropdown {
      max-width: 19.375rem;
      width: 19.375rem;

      .dropdown-item {
        &:hover {
          background: $primary-darken;
          color: $primarycolor;
        }

        .dropdown-content-wrapper {
          padding: 0.313rem;

          .drop-item {
            display: flex;
          }

          .img-wrapper {
            border-radius: 50%;
            margin-right: 0.625rem;

            .notification-img {
              border-radius: 50%;
              width: 3.125rem;
              height: 3.125rem;
              border: 0.063rem solid;
            }
          }

          .notification-title {
            margin-bottom: 0.313rem;
          }

          .notification-text {
            margin-bottom: 0;
            text-wrap: wrap;
          }
        }
      }
    }

    .profile-dropdown {
      .dropdown-menu {
        max-width: 12.5rem;
        width: 12.5rem;
        background-color: var(--color-bg-light);
        top: 11px !important;

        li {
          .dropdown-item {
            font-weight: 500;
            color:  var(--color-fg);
            background-color: var(--color-bg-light);
            &:hover {
              background: $primary-darken;
              color: $primarycolor;
            }
          }
        }
      }
    }
  }

  .logo-wrapper {
    display: none;
    margin-right: 1rem;

    @media (max-width: 64rem) {
      display: flex;

      .Clientlogowrapper {
        .Clientlogo {
          max-width: 3rem;
          max-height: 3rem;
        }
      }
    }
  }

  .profile-image {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (min-width: 64rem) {
  .sliderbtn {
    display: none;
  }

  .navbar-toggler-icon {
    display: block;
    line-height: 1.5;
  }
}

@media (max-width: 64rem) {
  .navbar-toggler-icon {
    line-height: 1.5;
    display: block;

    ::before {
      line-height: 1.5 !important;
    }
  }
}

