main {
  flex-grow: 1;
  overflow: hidden;

  .top-header {
    background: $primarylight;
  }
  .main-content {
    overflow: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 4.063em);
    height: 100%;
    padding: 0.938em;
  }

  .formbg {
    background:$primary-darker;
    padding: 1.875em;
  }

 .tablebg {
    background: $primary-darker;
    padding: 1.875em;
    table {
      th {
        background: none;
        margin-bottom: 0.625em;
        text-wrap: nowrap;
        text-align: start;
      }
      tr {
        td {
          background: none;
          text-align: start;
        }
      }
    }
  }
  .preview-img {
    width: 3.125em;
    height: 3.75em;
    background: $primarylight;
  }
}
.employeeprofilewrapper {
  width: 9.375em;
  height: 9.375em;
  border-radius: 0;
  border: 0.063em solid;
  overflow: hidden;

  .employeeprofile {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
.overflowscroll {
  height: calc(100vh - 6.25em);
  overflow-y: auto;
}
