@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
/* Container */
/* Typography */
/* Page Spacing */
/* Fontsize */
/* Line-Height */
/* Font-Weight */
/* font-weight*/
/* Letter spacing */
/* border-radius */
/* 5px*/
/*6px*/
/*12px*/
/* 16px */
/* 8px */
/* 50px */
/* 100% */
/* z index */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Roboto", sans-serif !important;
  font-size: 1em;
  line-height: 1.5 !important;
  text-transform: capitalize;
  background: transparent;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:active {
  text-decoration: none;
}

h1 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-family: "Poppins", sans-serif;
}

h5 {
  font-family: "Poppins", sans-serif;
}

h6 {
  font-family: "Poppins", sans-serif;
}

th {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

input[type=email] {
  text-transform: lowercase;
}

input[type=date] {
  text-transform: none;
}

input[type=password] {
  text-transform: unset;
}

#adminssmainWrapper {
  display: none;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
}

.primarycolor {
  color: #14245A;
}

.primarybgcolor {
  background: #14245A;
  background-color: #14245A !important;
}

.primarycolorlightbg {
  background: rgba(20, 36, 90, 0.1019607843);
  background-color: rgba(20, 36, 90, 0.1019607843) !important;
}

.primarycolorlighterbg {
  background: #e4e7ee;
}

.primarycolorlighter {
  color: #e4e7ee;
}

.card.border-left-green {
  border-left: 0.5em solid !important;
  border-left-color: #adff2f !important;
}
.card.border-left-maroon {
  border-left: 0.5em solid !important;
  border-left-color: #910606 !important;
}
.card.border-left-red {
  border-left: 0.5em solid !important;
  border-left-color: #ff2f2f !important;
}
.card.border-left-yellow {
  border-left: 0.5em solid !important;
  border-left-color: #FFEF5F !important;
  position: relative !important;
}
.card.border-left-yellow::after {
  content: "";
  position: absolute;
  top: 0;
  height: 50%;
  background: orange;
  left: -0.5em;
  width: 0.5em;
  border-top-left-radius: 1.25em;
}
.card.border-left-orange {
  border-left: 0.5em solid !important;
  border-left-color: orange !important;
}
.card.border-left-purple {
  border-left: 0.5em solid !important;
  border-left-color: #9B59B6 !important;
}
.card.border-left-gray {
  border-left: 0.5em solid !important;
  border-left-color: #808080 !important;
}
.card .absentcolor {
  background: rgba(255, 10, 10, 0.59);
}
.card .holiday {
  background: #808080;
  color: #14245A !important;
}
.card .halfdaycolor {
  background: #FFEF5F;
  color: #14245A !important;
  position: relative;
}
.card .halfdaycolor ::after {
  position: absolute;
  top: 50%;
  background-color: orange;
}

::marker {
  list-style: none;
}

.font-size-sm {
  font-size: 0.75em;
}

.font-size-normal {
  font-size: 0.875em;
}

::-webkit-scrollbar {
  width: 0.35em;
  height: 0.375em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.063em rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-thumb:hover {
  background: #14245A;
}

.bordercolorprimary {
  border-color: #14245A !important;
}

.notification-img-wrapper {
  display: flex;
}
.notification-img-wrapper img {
  height: 3.125em;
  width: 3.125em;
  border-radius: 50%;
  border: 0.063em solid #808080;
}
.notification-img-wrapper .notification-detail {
  margin-left: 0.625em;
}
.notification-img-wrapper .notification-detail .notification-title {
  margin-bottom: 0;
}
.notification-img-wrapper .notification-detail .notification-text {
  font-size: small;
}

.day {
  border-radius: 1.25em;
  width: 3.125em;
  height: 3.125em;
  text-align: center;
  cursor: pointer;
}

/* Define classes for different colors */
.green .day-switch {
  background-color: #61FF00 !important;
  color: #fff;
}

.red .day-switch {
  background-color: #ff2f2f !important;
  color: #fff;
}

.yellow .day-switch {
  background-color: #FFEF5F !important;
  color: #000;
}

/* Style for the table header */
.national-holiday {
  position: relative;
}
.national-holiday .festivalname {
  position: absolute;
  display: none;
  z-index: 99999;
}
.national-holiday:hover .festivalname {
  display: block;
  padding: 0.625em;
  background: #000;
  border-radius: 0.313em;
  color: #fff;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
  font-size: 0.75em;
}

[data-theme=light] {
  --color-bg-light: #eeeeee;
  --color-bg: #ffffff;
  --color-fg: #000000;
  --color-border-theme: #858585;
  --color-text: #000000;
  --color-tableheaderbg:#e4e7ee;
  --color-formborder:#556087;
  --color-form-bg:c.$primarycolorlight;
  --color-primarybg:#14245A;
}

[data-theme=dark] {
  --color-bg-light: #2b396a;
  --color-bg: #556087;
  --color-fg: #ffffff;
  --color-border-theme: #a0a2a7;
  --color-text: #eeeeee;
  --color-tableheaderbg:#556087;
  --color-formborder:#d3d3d3;
  --color-form-bg:var(--color-bg-light);
  --color-primarybg:#fff;
}

body {
  background-color: var(--color-bg) !important;
  color: var(--color-fg) !important;
  /* Custom select styles */
  /* Hover effect */
}
body h5 {
  color: var(--color-fg) !important;
}
body button {
  border-color: var(--color-bg-light);
}
body button:first-child:active {
  border-color: var(--color-bg-light);
}
body main .top-header {
  background: var(--color-bg-light);
}
body .dashboardtopcard {
  border: 0.063em solid var(--color-bg-light) !important;
}
body .dashboardtopcard .card-body {
  background: var(--color-bg-light) !important;
  border: 0.063em solid var(--color-bg-light) !important;
  color: #000 !important;
}
body .dashboardtopcard .card-body .card-title {
  color: var(--color-fg) !important;
}
body .dashboardtopcard .card-body .card-desc {
  color: var(--color-fg) !important;
  margin-bottom: 0;
}
@media (max-width: 1440px) {
  body .dashboardtopcard .card-body .card-title {
    font-size: 1em;
  }
  body .dashboardtopcard .card-body .card-desc {
    font-size: 0.75em;
  }
}
body .dashboard-corner-card .card-top-title {
  color: var(--color-fg);
}
body .calendar-wrapper {
  background: var(--color-bg-light);
  color: var(--color-fg);
}
body .calendar-wrapper .calendar-header {
  padding: 0.625em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.938em;
}
body .calendar-wrapper .calendar-header .current-date {
  margin-bottom: 0;
}
body .calendar-wrapper .calendar li {
  color: var(--color-fg);
}
body .card-wrapper .card {
  background: var(--color-bg-light);
  color: var(--color-fg);
}
body .salarysliptable {
  color: var(--color-fg);
  border-radius: 0.36em;
}
body .modal {
  border: transparent;
}
body .modal .modal-header {
  background: #14245A;
  color: var(--color-fg);
  border-color: transparent;
}
body .modal .modal-header .modal-title {
  color: #fff !important;
}
body .modal .modal-body {
  background: var(--color-bg-light);
  color: var(--color-fg);
  border-color: var(--color-bg);
}
body .modal .modal-footer {
  background: var(--color-bg-light);
  color: var(--color-fg);
  border-color: var(--color-bg);
}
body input::-moz-placeholder {
  color: var(--color-fg) !important;
}
body input::placeholder {
  color: var(--color-fg) !important;
}
body .profile-tabs {
  border-color: var(--color-bg-light);
}
body .profile-tabs .nav-item .nav-link {
  background: var(--color-bg-light);
  color: var(--color-fg);
  border-color: var(--color-bg-light);
  padding: 0.313em;
}
body .border-bottom-color {
  border-bottom: 0.063em solid;
  border-bottom-color: var(--color-border-theme);
}
body .cardbg {
  background: var(--color-bg-light);
  color: var(--color-fg);
  border: 0.063em solid var(--color-bg-light);
}
body .view-doc {
  color: var(--color-fg) !important;
}
body .dataTables_wrapper .dataTables_length select option:hover {
  background-color: var(--color-fg) !important;
  color: var(--color-bg-light) !important;
}
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: var(--color-fg) !important;
  border: 0.063em solid transparent;
}
body .dataTables_wrapper .dataTables_paginate .paginate_button {
  text-decoration: none !important;
  cursor: pointer;
  color: inherit !important;
  border: 0.063em solid transparent;
  border-radius: 0.125em;
  background: transparent;
}
body .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #14245A;
}
body .breadcrumb-item.active {
  color: var(--color-fg);
}
body .leavecardstyle {
  background-color: var(--color-bg-light);
}
body .attendencecard {
  background-color: var(--color-bg-light);
}
body .attendencecard .card-header {
  background-color: transparent;
  color: var(--color-fg);
}
body .Leave-Balance {
  background-color: var(--color-bg-light);
  color: var(--color-fg);
}
body .presentcard {
  background-color: var(--color-bg-light);
  color: var(--color-fg);
}
body .absentcard {
  background-color: var(--color-bg-light);
  color: var(--color-fg);
}
body .halfdaycard {
  background-color: var(--color-bg-light);
  color: var(--color-fg);
}
body .paidcard {
  background-color: var(--color-bg-light);
  color: var(--color-fg);
}
body .weekoffcard {
  background-color: var(--color-bg-light);
  color: var(--color-fg);
}
body .admindashbox {
  background-color: var(--color-bg-light);
  color: var(--color-fg);
  border: 0.063em solid var(--color-bg-light);
}
body .apexcharts-title-text {
  color: var(--color-fg) !important;
  fill: var(--color-fg) !important;
}
body tspan {
  fill: var(--color-fg) !important;
}
body .apexcharts-legend-text {
  fill: var(--color-fg) !important;
  color: var(--color-fg) !important;
}
body .top-header .headerprofilewrapper .custom-notification {
  color: var(--color-fg) !important;
}
body .top-header .headerprofilewrapper .profile-button {
  color: var(--color-fg) !important;
}
body .footer {
  background: var(--color-bg-light);
}
body .footer .copyright-text {
  color: var(--color-fg) !important;
}
body .footer .copyright-text .copyright-brandname {
  color: var(--color-fg) !important;
}
body .nav.nav-tabs {
  border-color: var(--color-bg);
}
body a.edit-button {
  background-color: var(--color-bg-light);
  color: var(--color-fg);
  border: 0.063em solid var(--color-bg-light);
}
body #savepayrollInfoBtn,
body #saveWorkInfoBtn,
body #savePersonalInfoBtn,
body #saveTeamInfoBtn {
  border: 0.063em solid var(--color-bg-light);
}
body .top-header .headerprofilewrapper .notificationdropdown {
  background-color: var(--color-bg-light);
  border: 0.063em solid var(--color-bg-light);
}
body .top-header .headerprofilewrapper .notificationdropdown .notification-detail .notification-title {
  color: var(--color-text);
}
body .top-header .headerprofilewrapper .notificationdropdown .notification-detail .notification-text {
  color: var(--color-text);
}
body .top-header .headerprofilewrapper .notificationdropdown .dropdown-item:hover .notification-detail .notification-title {
  color: var(--color-fg);
}
body .top-header .headerprofilewrapper .notificationdropdown .dropdown-item:hover .notification-detail .notification-text {
  color: var(--color-fg);
}

.darklighticon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.dataTables_wrapper .dataTables_length select {
  border: none;
  cursor: pointer;
}
.dataTables_wrapper .dataTables_length select:focus-visible {
  outline: none;
}

.pageTitle {
  color: var(--color-text);
}

.offcanvas .offcanvas-header .Clientlogowrapper .Clientlogo {
  max-width: 4em;
}

/* Container */
/* Typography */
/* Page Spacing */
/* Fontsize */
/* Line-Height */
/* Font-Weight */
/* font-weight*/
/* Letter spacing */
/* border-radius */
/* 5px*/
/*6px*/
/*12px*/
/* 16px */
/* 8px */
/* 50px */
/* 100% */
/* z index */
/* Container */
/* Typography */
/* Page Spacing */
/* Fontsize */
/* Line-Height */
/* Font-Weight */
/* font-weight*/
/* Letter spacing */
/* border-radius */
/* 5px*/
/*6px*/
/*12px*/
/* 16px */
/* 8px */
/* 50px */
/* 100% */
/* z index */
table thead tr th {
  text-align: start;
  text-wrap: nowrap !important;
  text-transform: capitalize;
  font-size: 0.875em !important;
}
table tbody tr th {
  text-align: start;
  text-wrap: nowrap !important;
  text-transform: capitalize;
  font-size: 0.875em !important;
}
table tbody tr td {
  text-align: start;
  vertical-align: middle;
  text-transform: capitalize;
  font-size: 0.875em !important;
  background: #eeeeee;
}
table tbody tr td p {
  margin-bottom: 0;
}

.salarysliptable {
  background: rgba(20, 36, 90, 0.1);
  display: flex;
  flex-direction: column;
}
.salarysliptable table {
  background: transparent;
}
.salarysliptable table th {
  background: transparent;
}
.salarysliptable table Tr {
  background: transparent;
}
.salarysliptable table Tr td {
  background: transparent;
}

.salpayrolltable-wrapper {
  max-height: 18em;
  height: 100%;
  border-radius: 0.625em;
}
.salpayrolltable-wrapper .table tbody tr {
  cursor: unset;
}
.salpayrolltable-wrapper .table tbody tr td .form-control:disabled {
  background-color: unset !important;
  color: var(--color-fg);
}
.salpayrolltable-wrapper .table tbody tr:hover {
  background: unset !important;
}
.salpayrolltable-wrapper .table tbody tr:hover td {
  background: unset !important;
}

.admintable {
  max-height: 22.75em;
  height: 100%;
  overflow: hidden;
}
.admintable .table {
  padding: 0.125em;
}
.admintable .table tr th {
  font-size: 0.75em;
  background: #e4e7ee;
  color: #000;
  font-weight: 500;
}
.admintable .table tr td {
  padding: 0.313em;
  font-size: 0.75em;
  font-weight: 400;
  background: #eeeeee;
}

table.dataTable.no-footer {
  border: 0 !important;
}

.DataTable thead th,
.dataTable thead th,
table thead th {
  border-bottom: 0.625em solid !important;
  border-bottom-color: var(--color-border-theme) !important;
  background-color: var(--color-tableheaderbg) !important;
  color: var(--color-fg) !important;
  font-weight: 500 !important;
}
.DataTable tbody tr,
.dataTable tbody tr,
table tbody tr {
  cursor: pointer;
}
.DataTable tbody tr:hover,
.dataTable tbody tr:hover,
table tbody tr:hover {
  background: var(--color-tableheaderbg) !important;
}
.DataTable tbody tr:hover td,
.dataTable tbody tr:hover td,
table tbody tr:hover td {
  background: rgba(20, 36, 90, 0.1019607843) !important;
  color: var(--color-text) !important;
}
.DataTable tbody td,
.dataTable tbody td,
table tbody td {
  border-bottom: 0.625em solid !important;
  border-bottom-color: var(--color-tableheaderbg) !important;
  background-color: var(--color-bg-light) !important;
  color: var(--color-fg) !important;
}

.ip {
  display: flex;
  align-items: center;
  margin-top: 0.625em;
}

.emptable {
  max-height: 18.75em;
  height: 100%;
}

#leaveApprovalTable td:nth-child(9) {
  width: 15.625em;
  max-width: 15.625em;
}

#leaveReports th:nth-child(10) {
  width: 15.625em !important;
  max-width: 15.625em !important;
  text-wrap: wrap !important;
}
#leaveReports td:nth-child(10) {
  width: 15.625em !important;
  max-width: 15.625em !important;
  text-wrap: wrap !important;
}

.onboardingtdata .table-responsive {
  max-height: 18.75em !important;
  height: 100%;
}
.onboardingtdata table {
  max-height: 18.75em !important;
  height: 100%;
  overflow: auto;
}

.onprobation .table-responsive {
  max-height: 18.75em !important;
  height: 100%;
}
.onprobation table {
  max-height: 18.75em !important;
  height: 100%;
  overflow: auto;
}

.onConfirmed .table-responsive {
  max-height: 18.75em !important;
  height: 100%;
}
.onConfirmed table {
  max-height: 18.75em !important;
  height: 100%;
  overflow: auto;
}

.resigned .table-responsive {
  max-height: 18.75em !important;
  height: 100%;
}
.resigned table {
  max-height: 18.75em !important;
  height: 100%;
  overflow: auto;
}

a.view-doc {
  color: #14245A;
  text-decoration: none;
}

a.edit-button {
  color: #14245A;
}

table.dataTable tbody tr.selected > * {
  box-shadow: inset 0 0 0 624.938em rgb(20, 36, 90) !important;
  color: #fff !important;
}
table.dataTable tbody tr.selected > * a.view-doc {
  color: #fff;
}
table.dataTable tbody tr.selected > * a.edit-button {
  color: #fff;
}

.dataTables_filter {
  margin-bottom: 0.625em;
}
.dataTables_filter label {
  display: flex;
  align-items: center;
}

#allattendanceTable thead {
  display: none;
}

.DataTable thead th,
.dataTable thead th,
#weekTable thead th {
  border-bottom: 0.063em solid !important;
  border-bottom-color: var(--color-border-theme) !important;
  background-color: var(--color-tableheaderbg) !important;
  color: var(--color-fg) !important;
  font-weight: 500 !important;
}
.DataTable tbody tr,
.dataTable tbody tr,
#weekTable tbody tr {
  cursor: pointer;
}
.DataTable tbody tr:hover,
.dataTable tbody tr:hover,
#weekTable tbody tr:hover {
  background: var(--color-tableheaderbg) !important;
}
.DataTable tbody tr:hover td,
.dataTable tbody tr:hover td,
#weekTable tbody tr:hover td {
  background: rgba(20, 36, 90, 0.1019607843) !important;
  border-radius: 0 !important;
}
.DataTable tbody td,
.dataTable tbody td,
#weekTable tbody td {
  border-bottom: 0.063em solid !important;
  border-bottom-color: var(--color-tableheaderbg) !important;
  background-color: var(--color-bg-light) !important;
  color: var(--color-fg) !important;
}

#allattendanceTable_wrapper .dataTables_filter {
  display: none !important;
}
#allattendanceTable_wrapper .dataTables_info {
  font-size: 0.75em !important;
}

.dataTable tfoot input {
  padding: 0;
  min-height: unset !important;
}

.dataTables_wrapper .dataTables_filter {
  display: none !important;
}

.ip {
  justify-content: space-between;
}

@media (max-width: 1440px) {
  .dataTable thead th {
    font-size: 0.875em !important;
  }
  .dataTable tbody td {
    font-size: 0.75em !important;
  }
}
.dashboard-card {
  background: rgba(20, 36, 90, 0.1019607843);
  padding: 1.25em;
  border-radius: 0.625em;
  min-width: 12.5em;
  min-height: 12.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard-card svg {
  margin-bottom: 0.938em;
}
.dashboard-card svg path {
  color: #000;
  fill: #000;
}
.dashboard-card .card-body {
  height: auto;
  flex: unset;
}
.dashboard-card:hover {
  cursor: pointer;
  background: #14245A;
}
.dashboard-card:hover svg {
  margin-bottom: 0.938em;
}
.dashboard-card:hover svg path {
  color: #fff;
  fill: #fff;
}
.dashboard-card:hover .card-title {
  color: #fff;
}

.leavecardstyle {
  padding: 0.625em;
  border: 0.063em solid;
  border: none;
  border-left: 0.313em solid;
  border-radius: 0.625em;
  background: rgba(20, 36, 90, 0.1);
}
.leavecardstyle .card-title {
  text-align: center;
}
.leavecardstyle .card-desc {
  text-align: center;
  margin-top: 0.625em;
  margin-bottom: 0em;
  font-weight: 500;
}
@media (max-width: 48em) {
  .leavecardstyle {
    padding: 0.87em;
  }
  .leavecardstyle .card-desc {
    margin: 0.8em;
  }
}

.bordercolor1 {
  border-left-color: orange;
}

.bordercolor2 {
  border-left-color: #61FF00;
}

.bordercolor3 {
  border-left-color: #ff2f2f;
}

.bordercolor4 {
  border-left-color: #FFEF5F;
}

.dashboard-corner-card {
  overflow: hidden;
  margin-bottom: 0.625em;
  border: transparent !important;
}
.dashboard-corner-card .card-top-title {
  font-weight: 500;
  color: #14245A;
}
.dashboard-corner-card ul {
  max-height: 20em;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.dashboard-corner-card ul li.cardlist {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  margin-bottom: 1.25em;
}
.dashboard-corner-card ul li.cardlist .card-figure {
  margin: 0;
  border-radius: 50%;
  width: 3.125em;
  height: 3.125em;
  min-height: 3.125em;
  min-width: 3.125em;
  max-height: 3.125em;
  max-width: 3.125em;
  border: none;
  margin-right: 0.625em;
}
.dashboard-corner-card ul li.cardlist .card-figure img {
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  min-height: 3.125em;
  min-width: 3.125em;
  max-height: 3.125em;
  max-width: 3.125em;
}
.dashboard-corner-card ul li.cardlist .card-details {
  display: flex;
  flex-direction: column;
}
.dashboard-corner-card ul li.cardlist .card-details .card-title-name {
  font-weight: 500;
  margin-bottom: 0.625em;
  text-align: start;
}
.dashboard-corner-card ul li.cardlist .card-details .card-description {
  font-weight: 400;
  text-align: start;
}
.dashboard-corner-card ul li.cardlist:hover {
  background: #7f8cac;
  color: #fff;
  cursor: pointer;
}

.dashboardtopcard {
  border: 0.063em solid #e4e7ee !important;
  background: #e4e7ee;
}
.dashboardtopcard .card-body {
  background: #e4e7ee;
  border: 0.063em solid #e4e7ee;
  border-radius: 0.375em;
}

.dummycard {
  background: #e4e7ee;
  background-color: #e4e7ee !important;
}

.card {
  border-radius: 0.375em !important;
  background-color: var(--color-bg-light) !important;
  border: 0.063em solid transparent !important;
}
.card .card-body {
  color: var(--color-fg);
  background: transparent;
  border-radius: 0.375em !important;
  border: 0.063em solid var(--color-bg-light);
}

.card .card-header .card-title {
  color: var(--color-fg) !important;
}

.custom-button {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.75;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  border-radius: 0.313em;
  background: #14245A !important;
  color: #fff !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.custom-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #14245A;
  z-index: -2;
}
.custom-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #060b1b;
  transition: all 0.3s;
  z-index: -1;
}
.custom-button:hover {
  background: #14245A !important;
  color: #fff;
}
.custom-button:hover:before {
  width: 100%;
}

.custom-button-two {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.75;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  border-radius: 0.313em;
  background: #14245A !important;
  color: #fff !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 0.625em;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.custom-button-two:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #14245A;
  z-index: -2;
}
.custom-button-two:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #060b1b;
  transition: all 0.3s;
  z-index: -1;
}
.custom-button-two:hover {
  background: #14245A !important;
  color: #fff;
}
.custom-button-two:hover:before {
  width: 100%;
}

.table-responsive .dataTables_wrapper .dataTables_filter input {
  min-height: 2.626em;
  padding: 0.25em 0.5em;
  font-size: 0.875em;
  border-radius: 0.313em;
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(20, 36, 90) 35%) !important;
}

.switch-container {
  display: flex;
  align-items: center;
}
.switch-container .switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}
.switch-container .switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-container .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 2.125em;
}
.switch-container .switch .slider:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}
.switch-container .switch #roleSwitchBtn {
  display: none;
}
.switch-container .switch input:checked + .slider {
  background-color: #2196F3;
}
.switch-container .switch input:focus + .slider {
  box-shadow: 0 0 0.063em #2196F3;
}
.switch-container .switch input:checked + .slider:before {
  transform: translateX(1.625em);
}
.switch-container .switch .slider.round {
  border-radius: 2.125em;
}
.switch-container .switch .slider.round:before {
  border-radius: 50%;
}

.calendar-wrapper {
  width: 100%;
  background: #fff;
  border-radius: 0.625em;
}

.wrapper .calendar-header {
  display: flex;
  align-items: center;
  padding: 1.563em 1.875em 0.625em;
  justify-content: space-between;
}

.calendar-header .icons {
  display: flex;
}

.calendar-header .icons span {
  height: 2em;
  width: 2em;
  margin: 0 0.063em;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 2.375em;
  font-size: 1.9em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 50%;
}

.icons span:last-child {
  margin-right: -0.625em;
}

header .icons span:hover {
  background: #f2f2f2;
}

header .current-date {
  font-size: 1.45em;
  font-weight: 500;
}

.calendar {
  padding: 1.25em;
}
@media (max-width: 48em) {
  .calendar {
    padding: 0.628em;
  }
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.calendar .days {
  margin-bottom: 1.25em;
  padding-left: 0;
  height: 18.75em;
}
@media (max-width: 48em) {
  .calendar .days {
    padding-left: 0;
    height: 21.25em;
  }
}

.calendar li {
  color: #333;
  max-width: 14.2857142857%;
  min-width: 14.2857142857%;
  width: 100%;
  font-size: 1.07em;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  position: relative;
  margin-top: 0.5em;
  text-align: center;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .days li p {
  margin-bottom: 0;
}

.days li.inactive {
  color: #aaa;
  visibility: hidden !important;
}

.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 2em;
  width: 2em;
  padding: 1em;
  z-index: -1;
  border-radius: 0.625em;
  transform: translate(-50%, -50%);
  background: rgba(20, 37, 92, 0.102);
}
@media (max-width: 48em) {
  .days li::before {
    height: 2.5em;
    width: 2.5em;
  }
}

.days li.active::before {
  background: #9B59B6;
}

.days li:hover::before {
  background: #9B59B6;
}

.days li:not(.active):hover::before {
  background: #9B59B6;
  color: #fff;
}

.days li.present::before {
  background: #5FFF9F;
}

.days li.absent::before {
  background: #ff2f2f;
  cursor: pointer;
}

.days li.absent {
  color: #fff;
  cursor: pointer;
}

.days li.halfday::before {
  background: #FFEF5F;
  cursor: pointer;
}

.days li.weekoff::before {
  background: #808080;
}
.days li.weekoff p {
  color: #fff;
}

.day li.weekoff::before {
  background: #808080;
}

li.halfdayapproved::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 33%;
  height: 1.2em;
  width: 1em;
  padding: 1em;
  z-index: -1;
  border-radius: 0.625em 0.625em 0 0;
  transform: translate(-50%, -50%);
  background: rgba(20, 37, 92, 0.102);
}
@media (max-width: 48em) {
  li.halfdayapproved::after {
    width: 2.5em;
  }
}

.days li.halfdayapproved::after {
  background: orange;
  padding: 0 1em 0 1em;
  cursor: pointer;
}

.days li.paidleave::before {
  background: orange;
}

.days li.national-holiday::before {
  background: #808080;
}

.days li.active::before {
  color: #5FFF9F;
}

ul {
  text-decoration: none;
  list-style: none;
}
ul li {
  text-decoration: none;
  list-style: none;
}
ul li ::marker {
  list-style: none;
}

.social-list {
  display: flex;
}
.social-list .social-item {
  margin-left: 0.625em;
}

.profile-tabs .nav-item .nav-link {
  background-color: #e4e7ee;
  color: #000;
  font-weight: 500;
  margin: 0.313em 0.313em 0 0;
}
.profile-tabs .nav-item .nav-link.active {
  color: #fff;
  background-color: #14245A;
}
@media (max-width: 768px) {
  .profile-tabs {
    justify-content: center;
  }
}

.custom-nav-tab .nav .nav-link {
  color: var(--color-fg);
  border: none;
  font-weight: 500;
}
.custom-nav-tab .nav .nav-link.active {
  color: #14245A;
  border-bottom: 0.063em solid #14245A;
}

.custom-nav-pill .nav .nav-link {
  color: #14245A;
  border-radius: 0.313em;
}
.custom-nav-pill .nav .nav-link.active {
  color: #fff;
  background-color: #14245A;
}

.rate {
  float: right;
  height: 2.875em;
  padding: 0 0.625em;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -624.938em;
  left: 0;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.875em;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(0.313em);
          backdrop-filter: blur(0.313em);
  z-index: 1000;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 5em;
  height: 5em;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 4em;
  height: 4em;
  margin: 0.5em;
  border: 0.5em solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal {
  overflow: hidden;
}
.modal .modal-header {
  background: #e4e7ee;
}
.modal .modal-body {
  max-height: 31.25em;
  height: 100%;
  overflow-y: auto;
}

.company-logo-wrapper {
  border: 0.063em solid;
}
.company-logo-wrapper .company-logo {
  width: 8.75em;
  height: auto;
}

/* Container */
/* Typography */
/* Page Spacing */
/* Fontsize */
/* Line-Height */
/* Font-Weight */
/* font-weight*/
/* Letter spacing */
/* border-radius */
/* 5px*/
/*6px*/
/*12px*/
/* 16px */
/* 8px */
/* 50px */
/* 100% */
/* z index */
.form-control:focus {
  border-color: #14245A !important;
  outline: 0;
  box-shadow: 0 0 0 0.25em rgba(20, 36, 90, 0.3) !important;
}

.form-control {
  border: 0.063em solid;
}
.form-control:focus {
  background: var(--color-primarybg) !important;
  color: var(--color-bg) !important;
  border: 0.063em solid --color-fg;
  outline: none;
  box-shadow: none !important;
}
.form-control:disabled {
  background-color: #f5f5f5;
  /* Light gray background for disabled inputs */
  border: 0.063em solid #ddd;
  /* Gray border */
  cursor: not-allowed;
}

.form-check-input:checked {
  background-color: #14245A;
  border-color: #14245A;
}

select:hover {
  border-color: #888;
}
select option {
  background-color: #fff;
  color: #333;
}
select:focus {
  color: #000 !important;
  border: 0.063em solid --color-fg;
  outline: none;
  box-shadow: none !important;
}

.breadcrumb .breadcrumb-item a {
  color: #000;
}

/* Container */
/* Typography */
/* Page Spacing */
/* Fontsize */
/* Line-Height */
/* Font-Weight */
/* font-weight*/
/* Letter spacing */
/* border-radius */
/* 5px*/
/*6px*/
/*12px*/
/* 16px */
/* 8px */
/* 50px */
/* 100% */
/* z index */
.full.color-indicator, .full div {
  background-color: #61FF00;
}

.half.color-indicator, .half div {
  background-color: #ffc700;
}

.off.color-indicator, .off div {
  background-color: #ff2f2f;
}

.weekTable td, .weekTable th {
  font-size: 0.75em;
  padding: 0.3em;
  text-align: center;
  width: 12.5%;
}

.weekTable th {
  border-bottom: 0 !important;
}

.weekTable tr td.day {
  cursor: pointer;
}

.weekTable div {
  height: 0.938em;
  width: 0.938em;
  display: block;
  margin: 0.188em auto;
}

/* Container */
/* Typography */
/* Page Spacing */
/* Fontsize */
/* Line-Height */
/* Font-Weight */
/* font-weight*/
/* Letter spacing */
/* border-radius */
/* 5px*/
/*6px*/
/*12px*/
/* 16px */
/* 8px */
/* 50px */
/* 100% */
/* z index */
#sideslide {
  display: none;
}

.slideslidelabel {
  cursor: pointer;
}

#sideslide:checked ~ .sidebar {
  flex: 0 0 9.375em;
  max-width: 9.375em;
  opacity: 1;
}
#sideslide:checked ~ .sidebar .nav-item .nav-text {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.sidebar {
  flex: 0 0 16.75em;
  width: 16.75em;
  max-width: 16.75em;
  background: #14245A;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.9s ease-in-out;
}
.sidebar .sidebar-content-wrapper {
  height: 100%;
  overflow-y: hidden;
}
.sidebar .sidebar-content-wrapper .siderbar-header .Clientlogowrapper {
  display: flex;
  align-items: center;
}
.sidebar .sidebar-content-wrapper .siderbar-header .Clientlogowrapper .Clientlogo {
  max-width: 3.75em;
  max-height: 3.75em;
  width: 3.75em;
}
@media (max-width: 85.375em) {
  .sidebar .sidebar-content-wrapper .siderbar-header .Clientlogowrapper .Clientlogo {
    max-width: 2.75em;
    max-height: 2.75em;
    width: 100%;
  }
}
.sidebar .sidebar-content-wrapper .siderbar-header .Clientlogowrapper .client-brand-name {
  font-size: 1em;
  text-align: start;
  vertical-align: middle;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 0.4em;
  margin-bottom: 0;
}
.sidebar .sidebar-content-wrapper .client-brand-name {
  color: #fff;
  vertical-align: middle;
  margin-left: 0.625em;
  margin-bottom: 0;
}
@media (max-width: 64em) {
  .sidebar .sidebar-content-wrapper .client-brand-name {
    color: #14245A;
    text-align: left;
    margin-left: 0.625em;
    font-weight: 600 !important;
  }
}
.sidebar .sidebar-content-wrapper .nav-wrapper {
  padding: 0;
  max-height: calc(100% - 4.557em);
  height: 100%;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav {
  height: 100%;
  width: 100%;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
  max-height: 100%;
  padding: 0.938em;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item {
  width: 100%;
  position: relative;
  border-radius: 0.375em;
  margin-bottom: 0.313em;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item .nav-link {
  color: #D9D9D9;
  padding: 0.5em 0.5em;
  position: relative;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: hidden;
  z-index: 1;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item .nav-link .nav-text {
  margin-left: 0.625em;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item .nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #14245A;
  z-index: -2;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #d9d9d9;
  transition: all 0.3s;
  z-index: -1;
  border-radius: 0.375em;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding-left: 1em;
  padding-top: 0.625em;
  width: 100%;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item.active > .nav-link {
  background: #14245A !important;
  color: #14245A;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item.active > .nav-link:before {
  width: 100%;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item.active > .submenu {
  display: block;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item:hover > .nav-link {
  background: #14245A !important;
  color: #14245A;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item:hover > .nav-link:before {
  width: 100%;
}
.sidebar .sidebar-content-wrapper .nav-wrapper nav .nav .nav-item:hover > .submenu {
  display: block;
}
.sidebar .sidebar-footer {
  display: flex;
  justify-content: center;
}
.sidebar .sidebar-footer .brandlogo {
  width: 6.25em;
  height: 4.375em;
}
@media (max-width: 85.375em) {
  .sidebar {
    position: relative;
    flex: 0 0 13.375em;
    max-width: 13.375em;
    opacity: 1;
    visibility: visible;
    left: 0;
    z-index: 9999;
  }
  .sidebar .nav-wrapper nav {
    padding: 0 0;
  }
}
@media (max-width: 64em) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 64em) {
  .nav-bar-effect {
    max-height: 100%;
    height: 100%;
  }
  .nav-bar-effect h5 {
    margin-left: 0.625em;
  }
  .nav-bar-effect .nav {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    overflow-y: auto;
    max-height: 100%;
    height: auto;
  }
  .nav-bar-effect .nav .nav-item {
    width: 100%;
    position: relative;
    border-radius: 0.375em;
    margin-bottom: 0.313em;
  }
  .nav-bar-effect .nav .nav-item .nav-link {
    color: #D9D9D9;
    padding: 0.5em 0.625em;
    position: relative;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    overflow: hidden;
    z-index: 1;
  }
  .nav-bar-effect .nav .nav-item .nav-link .nav-text {
    margin-left: 0.625em;
  }
  .nav-bar-effect .nav .nav-item .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #14245A;
    z-index: -2;
  }
  .nav-bar-effect .nav .nav-item .nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #d9d9d9;
    transition: all 0.3s;
    z-index: -1;
    border-radius: 0.375em;
  }
  .nav-bar-effect .nav .nav-item .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 1em;
    padding-top: 0.625em;
    width: 100%;
  }
  .nav-bar-effect .nav .nav-item.active > .nav-link {
    background: #14245A !important;
    color: #14245A;
  }
  .nav-bar-effect .nav .nav-item.active > .nav-link:before {
    width: 100%;
  }
  .nav-bar-effect .nav .nav-item.active > .submenu {
    display: block;
  }
  .nav-bar-effect .nav .nav-item:hover > .nav-link {
    background: #14245A !important;
    color: #14245A;
  }
  .nav-bar-effect .nav .nav-item:hover > .nav-link:before {
    width: 100%;
  }
  .nav-bar-effect .nav .nav-item:hover > .submenu {
    display: block;
  }
}

/* Container */
/* Typography */
/* Page Spacing */
/* Fontsize */
/* Line-Height */
/* Font-Weight */
/* font-weight*/
/* Letter spacing */
/* border-radius */
/* 5px*/
/*6px*/
/*12px*/
/* 16px */
/* 8px */
/* 50px */
/* 100% */
/* z index */
.top-header {
  display: flex;
  justify-content: space-between;
  max-height: 4.063em;
  height: 4.063em;
}
.top-header .headerprofilewrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-header .headerprofilewrapper .custom-notification {
  padding: 0.938em 0.625em;
}
.top-header .headerprofilewrapper .custom-notification:hover {
  cursor: pointer;
}
.top-header .headerprofilewrapper .profile-button {
  outline: none;
  border: none;
  border-color: transparent;
}
.top-header .headerprofilewrapper .profile-button i {
  font-size: 1.875em;
}
.top-header .headerprofilewrapper .profile-button:after {
  opacity: 0 !important;
}
.top-header .headerprofilewrapper .dropdown .dropdown-menu a.dropdown-item:hover {
  background-color: #14245A !important;
  background: #14245A !important;
  color: #fff !important;
}
.top-header .headerprofilewrapper .dropdown .dropdown-menu a.dropdown-item:active {
  background-color: #14245A !important;
  color: #fff !important;
}
.top-header .headerprofilewrapper .dropdown .dropdown-menu a.dropdown-item.active {
  background-color: #14245A !important;
  background: #14245A !important;
  color: #fff !important;
}
.top-header .headerprofilewrapper .dropdown .dropdown-menu a.dropdown-item:active {
  color: #fff !important;
  background-color: #14245A !important;
}
.top-header .headerprofilewrapper .notificationdropdown {
  max-width: 19.375em;
  width: 19.375em;
}
.top-header .headerprofilewrapper .notificationdropdown .dropdown-item:hover {
  background: rgba(20, 36, 90, 0.1019607843);
  color: #14245A;
}
.top-header .headerprofilewrapper .notificationdropdown .dropdown-item .dropdown-content-wrapper {
  padding: 0.313em;
}
.top-header .headerprofilewrapper .notificationdropdown .dropdown-item .dropdown-content-wrapper .drop-item {
  display: flex;
}
.top-header .headerprofilewrapper .notificationdropdown .dropdown-item .dropdown-content-wrapper .img-wrapper {
  border-radius: 50%;
  margin-right: 0.625em;
}
.top-header .headerprofilewrapper .notificationdropdown .dropdown-item .dropdown-content-wrapper .img-wrapper .notification-img {
  border-radius: 50%;
  width: 3.125em;
  height: 3.125em;
  border: 0.063em solid;
}
.top-header .headerprofilewrapper .notificationdropdown .dropdown-item .dropdown-content-wrapper .notification-title {
  margin-bottom: 0.313em;
}
.top-header .headerprofilewrapper .notificationdropdown .dropdown-item .dropdown-content-wrapper .notification-text {
  margin-bottom: 0;
  text-wrap: wrap;
}
.top-header .headerprofilewrapper .profile-dropdown .dropdown-menu {
  max-width: 12.5em;
  width: 12.5em;
  background-color: var(--color-bg-light);
  top: 0.688em !important;
}
.top-header .headerprofilewrapper .profile-dropdown .dropdown-menu li .dropdown-item {
  font-weight: 500;
  color: var(--color-fg);
  background-color: var(--color-bg-light);
}
.top-header .headerprofilewrapper .profile-dropdown .dropdown-menu li .dropdown-item:hover {
  background: rgba(20, 36, 90, 0.1019607843);
  color: #14245A;
}
.top-header .logo-wrapper {
  display: none;
  margin-right: 1em;
}
@media (max-width: 64em) {
  .top-header .logo-wrapper {
    display: flex;
  }
  .top-header .logo-wrapper .Clientlogowrapper .Clientlogo {
    max-width: 3em;
    max-height: 3em;
  }
}
.top-header .profile-image {
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 64em) {
  .sliderbtn {
    display: none;
  }
  .navbar-toggler-icon {
    display: block;
    line-height: 1.5;
  }
}
@media (max-width: 64em) {
  .navbar-toggler-icon {
    line-height: 1.5;
    display: block;
  }
  .navbar-toggler-icon ::before {
    line-height: 1.5 !important;
  }
}
main {
  flex-grow: 1;
  overflow: hidden;
}
main .top-header {
  background: rgba(20, 36, 90, 0.1019607843);
}
main .main-content {
  overflow: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 4.063em);
  height: 100%;
  padding: 0.938em;
}
main .formbg {
  background: rgba(20, 36, 90, 0.1215686275);
  padding: 1.875em;
}
main .tablebg {
  background: rgba(20, 36, 90, 0.1215686275);
  padding: 1.875em;
}
main .tablebg table th {
  background: none;
  margin-bottom: 0.625em;
  text-wrap: nowrap;
  text-align: start;
}
main .tablebg table tr td {
  background: none;
  text-align: start;
}
main .preview-img {
  width: 3.125em;
  height: 3.75em;
  background: rgba(20, 36, 90, 0.1019607843);
}

.employeeprofilewrapper {
  width: 9.375em;
  height: 9.375em;
  border-radius: 0;
  border: 0.063em solid;
  overflow: hidden;
}
.employeeprofilewrapper .employeeprofile {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.overflowscroll {
  height: calc(100vh - 6.25em);
  overflow-y: auto;
}

.footer {
  background: rgba(20, 36, 90, 0.1019607843);
}/*# sourceMappingURL=style.css.map */