$primarycolor : #14245A;
$secondarycolor:#D9D9D9;
$globalfontcolor:#000;
$primarylight:#14245a1a;
$color-white:#fff;
$color-black:#000;
$color-yellow:#FFEF5F;
$color-goldenyellow:#ffc700;
$color-goldenrod:#deb217;
$color-golden-dark:#c59b08;
$absent-color:rgba(255, 10, 10, 0.59);
$halfdayleave:rgba(166, 166, 166, 0.20);
$holiday:rgba(255, 0, 0, 0.10);
$color-purple:#9B59B6;
$color-presentgreen:#5FFF9F;
$color-greenlight:#adff2f;
$color-red:#ff2f2f;
$color-holidaycolor:#ffafbe;
$color-whitelight:#f2f2f2;
$color-Dark-charcoal:#333;
$colorlightgray:#aaa;
$color-light-gray10:#ccc;
$colorgray:#808080;
$primarydark:rgba(20, 37, 92, 0.102);
$primary-darken:#14245a1a;
$primary-darker:#14245a1f;
$color-orange:orange;
$color-green:#61FF00;
$color-MidnightBlue:rgba(20, 36, 90, 0.10);
$borderColor:#dee2e6;
$bordercolorprimary:$primarycolor;
$brand-color-1:#547dbf;
$brand-color-2:#72bf44;
$primarycolorlight10:#2b396a;
$primarycolorlight:#7f8cac;
$primarycolorlighter:#e4e7ee;
$colordarkgrey:#a9a9a9;
$colorgray53:#878787;
$color-translucent-navy-blue:rgba(20, 37, 92, 0.102);
$bgcolortable:#eeeeee;
$color-weekoff:#910606;

$color-disabled: #f5f5f5;