<!-- pdf_template.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Salary Slip</title>
    <!-- Include your CSS styles and other head elements here -->
    <style>
        html {
            max-width: 793.7px;
            max-height: 1122.52px;
            padding: 15px;
        }
    </style>
</head>

<body >
    <div class="wrapper">
    <div class="top-header">
        <div style="display: flex; justify-content: space-between; ">
            <div>
                <figure class="Clientlogowrapper mb-0 bg-white">
                    <a href="">
                        {% if company_logo %}
                        <img class="" style="width: 100px;" src="{{request.scheme}}://{{request.get_host}}{{ company_logo }}" alt="Company logo">
                        {% else %}
                        <img class="" src="/static/admin/img/logo.png" alt="Default logo">
                        {% endif %}
                    </a>
                </figure>
            </div>
            <div style="display: flex;flex-direction: column;">
                <div style="padding: 10px; ">
                    {% for company in companies %}
                    <h5 style="margin: 0; margin-bottom: 10px; text-align: end;">{{ company.name }}</h5>
                    <p style="font-size:12px; text-align: end; margin: 0;">{{company.reg_address}}</p>
                    <p style="font-size:12px; text-align: end; margin: 0;"> {{company.reg_city}}</p>
                    <p style="font-size:12px; text-align: end; margin: 0;">{{company.reg_state}}</p>
                    <p style="font-size:12px; text-align: end; margin: 0;">{{company.reg_country}},</p>
                    <p style="font-size:12px; text-align: end; margin: 0;">{{company.reg_pin_code}}.</p>
                    <p style="font-size:12px; text-align: end; margin: 0;">{{company.email_id}}</p>
                    {% endfor %}
                </div>
                <p style="font-size:12px; text-align: end;">
                    {{company.reg_address|default:""}}
                    {{company.reg_city|default:""}}
                    {{company.reg_state|default:""}}
                    {{company.reg_country|default:""}}
                    {{company.reg_pin_code|default:""}}</p>
                <p style="font-size:12px; text-align: end;">{{company.email_id|default:""}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="contentwrapper">
        <div style="display: flex; justify-content: center; ">
            <h5 style="border-bottom: 1px solid #dee2e6;">Payslip for the Month of {{ salary.month }}</h5>
        </div>
        <div style="display: flex; margin-bottom: 10px; ">
            <div style="width: 50%;">
                <div style="display: flex; align-items: center; font-size:14px;">
                    <p style="margin: 0;">Payslip No :</p>
                    <h6 style="display: flex; align-items: center; font-size:14px; margin: 0; margin-left: 10px;">
                        {{salary.id}}</h6>
                </div>
            </div>
            <div class="col-12 col-md-6" style="width: 50%; display: flex; justify-content: flex-end;">
                <div
                    style="display:flex; justify-content: flex-end; align-items: center;  font-size:14px; width: 100%; ">
                    <p style="margin: 0;">Payslip Date :</p>
                    <h6 style="display: flex; align-items: center;  font-size:14px; margin: 0; margin-left: 10px; ">
                        <p style="font-size:14px; margin: 0;">{{ salary.month }}</p>
                    </h6>
                </div>
            </div>
        </div>
        <div class="row" style="border: 1px solid #dee2e6; padding: 5px;">
            <div style="width: 100%;">
                <h5 style="width: 100%; margin: 0; margin-bottom: 5px;">Employee Details</h5>
            </div>
            <div
                style="display: flex; justify-content: space-between; align-items: start; margin-bottom: 0;  padding:SS0; border: 1px solid #dee2e6;">
                <div style="width: 50%; padding:0 5px; ">
                    <table style="padding:0 10px;">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">Emp No </p>
                                </td>
                                <td><span style="padding-left: 10px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;"> {{salary.emp_id}}</span> </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">D.O.J </p>
                                </td>
                                <td><span style="padding-left: 10px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;"> {{emp_id.doj}}</span> </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">
                                        Department </p>
                                </td>
                                <td><span style="padding-left: 10px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;"> {{salary.department}}</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">
                                        Designation </p>
                                </td>
                                <td><span style="padding-left: 10px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;">{{salary.designation}}</span>
                                    </p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div style="width: 50%; padding: 0 5px; ">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p
                                        style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start; padding-right: 10px;">
                                        Name </p>
                                </td>
                                <td style><span style="padding-left: 10px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;">{{salary.name}}</span> </p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">Work
                                        Location </p>
                                </td>
                                <td><span style="padding-left: 10px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;"> {{salary.company_branch}}</span>
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">PF
                                        Number </p>
                                </td>
                                <td><span style="padding-left: 10px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;">{{salary.pfno}}</span> </p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">UAN
                                        Number </p>
                                </td>
                                <td><span style="padding-left: 10px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;">{{salary.uanno}}</span> </p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div style="width: 100%;">
                <h5 style="width: 100%; margin: 0; margin-top: 5px; margin-bottom: 5px;">Working Details</h5>
            </div>
            <div
                style="display: flex; justify-content: space-between; align-items: start; margin-bottom: 0;  padding: 0; border: 1px solid #dee2e6;">
                <div style="width: 50%; padding-right: 10px; ">
                    <table style="padding: 0 10px;">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">
                                        Present </p>
                                </td>
                                <td><span style="padding-left: 17px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;"> 21.00 </span> </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">On
                                        Duty </p>
                                </td>
                                <td><span style="padding-left: 17px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;"> 0.00 </span> </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">Weekly
                                        Off </p>
                                </td>
                                <td><span style="padding-left: 17px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;"> 0.00 </span> </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">
                                        Holidays </p>
                                </td>
                                <td><span style="padding-left: 17px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;">0.00</span> </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">Extra
                                        Day </p>
                                </td>
                                <td><span style="padding-left: 17px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;">0.00</span> </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width: 50%; padding-right: 10px; ">
                    <table style="padding: 0 10px;">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">Unpaid </p>
                                </td>
                                <td><span style="padding-left: 17px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;">0.00</span> </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">Absent </p>
                                </td>
                                <td><span style="padding-left: 17px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;">0.00</span> </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">
                                        Compen.
                                        off </p>
                                </td>
                                <td><span style="padding-left: 17px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;">0.00</span> </p>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="margin: 0; margin-bottom: 2px;  font-size:14px; text-align: start;">Paid
                                        Days </p>
                                </td>
                                <td><span style="padding-left: 17px; padding-right: 10px;">:</span></td>
                                <td>
                                    <p style="padding: 0; margin: 0; font-size:14px;"><span
                                            style="text-wrap: wrap; text-align: left;">0.00</span> </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: flex; flex-wrap: wrap; ; margin-top: 5px;  padding: 0;">
                <div style="width: 50%;">
                    <div style="padding: 0 0 5px 0;">
                        <div style="padding: 10px; border: 1px solid #dee2e6;">
                            <table style="width: 100%; ">
                                <thead>
                                    <tr>
                                        <th style="font-weight: 500; text-align: start;">Earning</th>
                                        <th style="font-weight: 500; text-align: end;">Amount</th>
                                        <th style="font-weight: 500; text-align: end;">Payable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="col" style="margin: 0; font-size:14px; font-weight: 500; ">Basic</td>
                                        <td scope="col"
                                            style="margin: 0; font-size:14px; font-weight: 500; text-align: end; ">
                                            30000
                                            {% comment %} {{ salary.monthly_basic }} {% endcomment %}
                                        </td>
                                        <td scope="col"
                                            style="margin: 0; font-size:14px; font-weight: 500; text-align: end;  ">
                                           30000
                                            {% comment %} {{salary.monthly_basic }} {% endcomment %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row" style="margin: 0; font-size:14px; font-weight: 500; ">HRA</td>
                                        <td class="text-end"
                                            style="text-align:end; margin: 0; font-size:14px; font-weight: 500; ">
                                            {% comment %} {{salary.monthly_hra }} {% endcomment %}
                                            0
                                        </td>
                                        <td class="text-end"
                                            style="text-align:end; margin: 0; font-size:14px; font-weight: 500; ">
                                            0
                                            {% comment %} {{salary.monthly_hra }}</td> {% endcomment %}
                                    </tr>
                                    <tr>
                                        <td scope="row" style="margin: 0; font-size:14px; font-weight: 500;  ">C.A</td>
                                        <td class="text-end"
                                            style="text-align:end; margin: 0; font-size:14px; font-weight: 500;  ">
                                        0
                                            {% comment %} {{salary.monthly_ca }} {% endcomment %}
                                        </td>
                                        <td class="text-end"
                                            style="text-align:end; margin: 0; font-size:14px; font-weight: 500;">
                                            0
                                            {% comment %} {{ salary.monthly_ca }} {% endcomment %}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row" style="margin: 0; font-size:14px; font-weight: 500;  ">S.A</td>
                                        <td class="text-end"
                                            style="text-align:end; margin: 0; font-size:14px; font-weight: 500;  ">
                                            0
                                            {% comment %} {{ salary.monthly_sa }} {% endcomment %}
                                        </td>
                                        <td class="text-end"
                                            style="text-align:end; margin: 0; font-size:14px; font-weight: 500;  ">
                                            0
                                            {% comment %} {{ salary.monthly_sa }} {% endcomment %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row" style="margin: 0; font-size:14px; font-weight: 500;">Others</td>
                                        <td class="text-end" style="text-align:end; margin: 0; font-size:14px; font-weight: 500; ">0</td>
                                        <td class="text-end" style="text-align:end; margin: 0; font-size:14px; font-weight: 500; ">0</td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
                <div style="width: 50%;">
                    <div style="padding:0 0 0 5px;">
                        <div style="padding: 10px; border: 1px solid #dee2e6;">
                            <table class="table" style="width: 100%; padding: 0 5px;">
                                <thead>
                                    <tr>
                                        <th style="font-weight: 500; text-align: start;">Deduction</th>
                                        <th style="font-weight: 500; text-align: end;">Amount</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="col" style="margin: 0; font-size:14px; font-weight: 500; text-align: start; ">Provident
                                            Fund
                                        </th>
                                        <td scope="col"
                                            style="text-align:end; margin: 0; font-size:14px; font-weight: 500; ">
                                            0
                                            {% comment %} {{ salary.monthly_employeepf }} {% endcomment %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="margin: 0; font-size:14px; font-weight: 500; text-align: start;">Professional Tax</th>
                                        <td style="text-align:end; margin: 0; font-size:14px; font-weight: 500;  ">200
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="margin: 0; font-size:14px; font-weight: 500; text-align: start;">ESIC</th>
                                        <td style="text-align:end; margin: 0; font-size:14px; font-weight: 500;  ">1235
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row" style="margin: 0; font-size:14px; font-weight: 500; text-align: start;">TDS</th>
                                        <td style="text-align:end; margin: 0; font-size:14px; font-weight: 500;  ">800
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="margin: 0; font-size:14px; font-weight: 500; text-align: start; ">Other</th>
                                        <td style="text-align:end; margin: 0; font-size:14px; font-weight: 500;  ">800
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-wrap: wrap; ; margin-top: 5px; border: 1px solid #dee2e6; padding: 10px;">
                <div style="width: 50%;">
                    <table style="width: 100%;  margin-top: 5px;">
                        <tbody>
                            <tr>
                                <td scope="row" style="margin: 0; font-size:14px; font-weight: 500;">Gross Total
                                <td class="text-end"
                                    style="text-align:end; margin: 0; font-size:14px; font-weight: 500;">
                                    1234567</td>
                            </tr>
                            <tr>
                                <td scope="row" style="margin: 0; font-size:14px; font-weight: 500; ">Monthly CTC</td>
                                <td class="text-end"
                                    style="text-align:end; margin: 0; font-size:14px; font-weight: 500;">
                                    1800</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width: 50%;">
                    <table style="width: 100%;  padding: 5px; margin-top: 5px;">
                        <tbody>
                            <tr>
                                <td scope="row" style="margin: 0; font-size:14px; font-weight: 500;">Total Deductions
                                <td style="text-align:end; margin: 0; font-size:14px; font-weight: 500; ">1234567</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: flex; flex-wrap: wrap; ; margin-top: 5px; border: 1px solid #dee2e6; padding: 10px;">
                <div style="width: 50%;">
                    <table style="width: 100%; padding: 5px; margin-top: 5px; ">
                        <tbody>
                            <tr>
                                <td scope="row" style="margin: 0; font-size:14px; font-weight: 500; ">Payment Mode</td>
                                <td class="text-end"
                                    style="text-align:end; margin: 0; font-size:14px; font-weight: 500;  ">
                                    Bank Transfer</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width: 50%;">
                    <table style="width: 100%; padding: 5px; margin-top: 5px;">
                        <tbody>
                            <tr>
                                <td scope="row" style="margin: 0; font-size:14px; font-weight: 500;">Gross Earning</td>
                                <td class="text-end"
                                    style="text-align:end; margin: 0; font-size:14px; font-weight: 500;">
                                    25000</td>
                            </tr>
                            <tr>
                                <td scope="row" style="margin: 0; font-size:14px; font-weight: 500;">Less Deduction</td>
                                <td class="text-end"
                                    style="text-align:end; margin: 0; font-size:14px; font-weight: 500;">
                                    200</td>
                            </tr>

                            <tr>
                                <td scope="row" style="margin: 0; font-size:14px; font-weight: 500;">Net Salary Payable
                                </td>
                                <td class="text-end"
                                    style="text-align:end; margin: 0; font-size:14px; font-weight: 500;">
                                    24800</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row"
                style="width: 100%; display: flex; justify-content: space-between; margin-top: 20px; border: 1px solid #dee2e6; ">
                <div style="width: 33.33333%; padding: 5px;">
                    <p style="font-size: 14px;">Prepared by</p>
                </div>
                <div style="width: 33.33333%; padding: 5px;">
                    <p style="font-size: 14px;">Sanctioned By</p>
                </div>
                <div style="width: 33.3333%; padding: 5px;">
                    <h6 style="padding:  0; margin:  0; text-align: end; width: 100%;">
                        Trishla Shah
                    </h6>
                    <p style="width: 100%; text-align: end; font-size: 14px; padding: 0; margin-bottom: 0;">Authorised
                        Signatory </p>
                </div>
            </div>
        </div>
        <div>
            {% comment %} <a href="{% url 'payroll:downloard_salary' pk=salary.pk %}">Download PDF2</a> {% endcomment %}
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>