{% extends 'component/base.html' %}
{% load static  %}
{% block title %}Password Change{% endblock title %}
{% block extracss %}
{% endblock extracss %}
{% load custom_filters %}
{% block maincontent %}
            <div class="main-content">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center p-2 p-0 p-md-5 col-md-6 border mt-3 shadow rounded">
                        <form class="w-100" method='post' action="{% url 'employee:password_change' emp_id %}">
                            <h5 class="mb-4">Change Password</h5>
                            {% csrf_token %}
                            {% for message in messages %}
                            {% if message.tags == 'success' %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                            {% else %}
                            <label for="exampleInputEmail1" class="form-label mb-0 text-left text-danger" >{{ message }}</label>
                            {% endif %}
                            {% endfor %}
                            {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                {{ error }}
                                {% endfor %}
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="mb-3 d-flex justify-content-start align-items-start flex-column">
                                <label for="id_old_password" class="form-label mb-0 text-left">Enter Old Password</label>
                                <input type="password" name="old_password" autocomplete="current-password" autofocus
                                    required id="id_old_password"
                                    class="form-control form-control-sm" 
                                    aria-describedby="emailHelp">
                                {% comment %} <div id="emailHelp" class="form-text">Enter the email address associated
                                    with
                                    your account</div> {% endcomment %}
                            </div>
                            <div class="mb-3 d-flex justify-content-start align-items-start flex-column">
                                <label for="exampleInputEmail1" class="form-label mb-0 text-left">Enter New Password</label>
                                <input type="password" name="new_password1"
                                    class="form-control form-control-sm" required name="password"
                                     id="id_new_password1" required aria-describedby="emailHelp">
                                {% comment %} <div id="emailHelp" class="form-text">Enter the email address associated
                                    with
                                    your account</div> {% endcomment %}
                            </div>
                            <div class="mb-3 d-flex justify-content-start align-items-start flex-column">
                                <label for="exampleInputEmail1" class="form-label mb-0 text-left"> Confirm New
                                    Passwords</label>
                                <input class="form-control form-control-sm " id="id_new_password2"
                                    type="password" name="new_password2" required 
                                    required aria-describedby="emailHelp">
                                {% comment %} <div id="emailHelp" class="form-text">Enter the email address associated
                                    with
                                    your account</div> {% endcomment %}
                            </div>
                            <div class="d-flex justify-content-between flex-wrap mt-md-3">
                                <button type="submit" value="Login" class="btn custom-button btn-sm mb-2 mb-md-0">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
{%endblock maincontent%}
{% block extrascript %}
{% endblock extrascript %}