{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="../../static/admin/img/PeoplPulselogo.png" />
    <link rel="stylesheet" href="{%static 'admin/scss/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="main-wrapper">
        <main>
            <div class="w-100 d-flex h-100">
                <div class="col-12 d-none d-md-block col-md-6 primarybgcolor h-100">
                    <figure class="m-0 p-0 d-flex justify-content-center align-items-center h-100">
                        <img src="../../static/admin/img/PeoplePulsecredencial.svg" class="img-fluid" alt="brand logo">
                    </figure>
                </div>
                <div
                    class="col-12 col-md-6 primarycolorlightbg d-flex justify-content-center align-items-center p-3 p-md-5 flex-column">
                    <div
                        class="bg-white d-flex flex-column w-100 d-flex justify-content-center p-2 p-md-3 py-md-5 border-rounded">
                        <figure class="d-flex d-md-none m-0 p-0 d-flex justify-content-center align-items-center h-100">
                            <img src="../../static/admin/img/PeoplPulselogo.png" class="img-fluid " alt="brand logo">
                        </figure>
                        <h3 class="text-center">Change password</h3>
                        <div>
                        </div>
                        <div class="d-flex justify-content-start p-md-5 ">
                            <form class="w-100" method='post' action="{% url 'accounts:change_password' %}">

                                {% csrf_token %}
                                {% for message in messages %}
                                {% if message.tags == 'success' %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                                {% else %}
                                <label for="exampleInputEmail1" class="form-label mb-0 text-left text-danger" >{{
                                    message }}</label>
                                {% endif %}
                                {% endfor %}
                                {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                    {{ error }}
                                    {% endfor %}
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <div class="mb-3 d-flex justify-content-start align-items-start flex-column">
                                    <label for="id_old_password" class="form-label mb-0 text-left">Enter Old Password</label>
                                    <div class="input-group">
                                        <input type="password" name="old_password" autocomplete="current-password"
                                            autofocus required id="id_old_password"
                                            class="form-control primarycolorlightbg" placeholder="Password"
                                            aria-describedby="emailHelp">
                                        <button class="btn primarycolorlightbg" type="button" id="passwordToggle"
                                            onclick="togglePasswordVisibility()">
                                            <i class="bi bi-eye"></i>
                                        </button>

                                    </div>
                                </div>

                                <div class="mb-3 d-flex justify-content-start align-items-start flex-column">
                                    <label for="exampleInputEmail1" class="form-label mb-0 text-left">Enter New
                                        Password</label>
                                    <input type="password" name="new_password1" class="form-control primarycolorlightbg"
                                        required name="password" placeholder="Password" id="id_new_password1" required
                                        aria-describedby="emailHelp">
                                    {% comment %} <div id="emailHelp" class="form-text">Enter the email address
                                        associated with your account</div> {% endcomment %}
                                </div>
                                <div class="mb-3 d-flex justify-content-start align-items-start flex-column">
                                    <label for="exampleInputEmail1" class="form-label mb-0 text-left"> Confirm New
                                        Passwords</label>
                                    <input class="form-control primarycolorlightbg" id="id_new_password2"
                                        type="password" name="new_password2" required placeholder="Confirm Password"
                                        required aria-describedby="emailHelp">
                                    {% comment %} <div id="emailHelp" class="form-text">Enter the email address
                                        associated with your account</div> {% endcomment %}
                                </div>
                                <div class="d-flex justify-content-between flex-wrap mt-md-5">
                                    <button type="submit" value="Login"
                                        class="btn custom-button mb-2 mb-md-0">Save</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <!-- JavaScript to toggle password visibility -->
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('id_old_password');
            var passwordToggle = document.getElementById('passwordToggle');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passwordToggle.innerHTML = '<i class="bi bi-eye-slash"></i>';
            } else {
                passwordInput.type = 'password';
                passwordToggle.innerHTML = '<i class="bi bi-eye"></i>';
            }
        }
    </script>
</body>


</html>