<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interview Reminder</title>
</head>
<body>
 
    <p>Dear {{candidate}},</p>

    <p>I hope this message finds you well.</p>

    <p>I am writing to confirm the details of your upcoming interview for the position of {{designationoption}}. We are excited to meet with you and learn more about your experiences and qualifications.</p>

    <p>The interview details are as follows:</p>

    <p>Date: {{interviewDate}}</p>
    <p>Time: {{interviewTime}}</p>
    <p>{{interviewLinkLocation}}</p>

    <p>Please let us know if this schedule works for you or if any adjustments are needed. If you require any further information or assistance, please don't hesitate to reach out to me.</p>

    <p>Looking forward to our conversation and the opportunity to discuss your potential contributions to our team.</p>

    <p>Best regards,<br>
    <p>{{sender_name}}<br>
        {{sender_designation}}<br>
    </p><br>

</body>
</html>