<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="../../static/admin/img/PeoplPulselogo.png" />
    <link rel="stylesheet" href="../../static/admin/scss/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="main-wrapper">
        <input class="form-check-input" type="checkbox" value="" id="sideslide">
        <aside class="sidebar">
            <div class="d-flex justify-content-center p-2">
                <figure>
                    <img class="brandlogo img-fluid" src="../../../static/admin/img/logo.png" alt="Brand logo">
                </figure>
                <input class="form-check-input" type="checkbox" value="" id="sideslide">
            </div>
            <div class="Userprofilewrapper">
                <figure class="userprofile">
                    <img class="userprofilepic" src="" alt="">
                </figure>
                <div class="asideusernamewrapper">
                    <h5 class="text-white title-text">Trishala shah</h5>
                    <p class="Asideuserdesignation text-white text-center">Head Hr</p>
                </div>
            </div>
            <nav class="d-flex justify-content-center align-items-center sidebar-nav">
                <ul class="nav flex-column  ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><img class="nav-icon"
                                src="../../static/admin/img/sidebaricon/directorylist.svg" alt="img"><span
                                class="nav-text">Directory</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img class="nav-icon"
                                src="../../static/admin/img/sidebaricon/Interview.svg" alt="img">
                            <span class="nav-text">Interview</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img class="nav-icon"
                                src="../../static/admin/img/sidebaricon/User add.svg" alt="img"> <span
                                class="nav-text">Add
                                Employee</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img class="nav-icon"
                                src="../../static/admin/img/sidebaricon/attendance.svg" alt="img">
                            <span class="nav-text">attendance</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img class="nav-icon"
                                src="../../static/admin/img/sidebaricon/payroll.svg" alt="img"> <span
                                class="nav-text">Payroll</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img class="nav-icon"
                                src="../../static/admin/img/sidebaricon/setting.svg" alt="img"> <span
                                class="nav-text">Setting</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            <header class="top-header d-flex justify-content-between px-3">
                <div class="headertitle d-flex align-items-center">
                    <div class="sliderbtn me-3"><label for="sideslide" class="bi bi-list fs-5"></label></div>
                    <h4 class="mb-0 fs-6">Leave approval </h4>
                </div>
                <div class="headerprofilewrapper d-flex align-items-center">
                    <button type="button" class="btn custom-button">Clock In</button>
                    <div class="dropdown ms-2 d-none d-md-flex">
                        <button class="custom-notification btn outline-none dropdown-toggle border-0 border-color-none"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="bi bi-bell"></span>
                        </button>
                        <ul class="dropdown-menu notificationdropdown border ">
                            <li><a class="dropdown-item" href="#">
                                    <div class="d-flex dropdown-content-wrapper">
                                        <div class="img-wrapper">
                                            <img src="../../static/admin/img/sidebaricon/User add.svg"
                                                class="notification-img" alt="img">
                                        </div>
                                        <div class="notification-detail">
                                            <h6 class="notification-title">Attention </h6>
                                            <p class="notification-text">Your attendance sheet has been updated
                                                .</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="#">
                                    <div class="d-flex dropdown-content-wrapper">
                                        <div class="img-wrapper">
                                            <img src="../../static/admin/img/sidebaricon/User add.svg"
                                                class="notification-img" alt="">
                                        </div>
                                        <div class="notification-detail">
                                            <h6 class="notification-title">Attention </h6>
                                            <p class="notification-text">Your attendance sheet has been updated
                                                Check for more Details .</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="#">
                                    <div class="d-flex dropdown-content-wrapper">
                                        <div class="img-wrapper">
                                            <img src="../../static/admin/img/sidebaricon/User add.svg"
                                                class="notification-img" alt="">
                                        </div>
                                        <div class="notification-detail">
                                            <h6 class="notification-title">Attention </h6>
                                            <p class="notification-text">Your attendance sheet has been updated.<br>
                                                Check for more Details .</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown profile-dropdown">
                        <button class="btn profile-button outline-none dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../static/admin/img/sidebaricon/Interview.svg" class="header-profile-img"
                                alt="">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><span class="bi bi-person-check mr-3 fs-5"></span>
                                    <span class="ms-2"> My Profile </span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="bi bi-nut mr-3 fs-5"></span> <span
                                        class="ms-2"> Settings </span></a></li>
                            <li><a class="dropdown-item" href="#"><span class="bi bi-power mr-3 fs-5"></span> <span
                                        class="ms-2">Login/Logout </span></a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="main-content justify-content-center d-flex flex-column align-items-center ">
                <div class=" flex-wrap mt-2 p-2 overflow-hidden w-100 h-100 ">
                    <div class="table-responsive">
                        <table class="table h-100">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                All
                                            </label>
                                        </div>
                                    </th>
                                    <th scope="col">Emp Id</th>
                                    <th scope="col">Emp Name</th>
                                    <th scope="col">No of Days</th>
                                    <th scope="col">From Date</th>
                                    <th scope="col">To Date</th>
                                    <th scope="col">Type of Leave</th>
                                    <th scope="col">Reason </th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="flexCheckDefault">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">Emp 01
                                    </td>
                                    <td>Xyz</td>
                                    <td>5</td>
                                    <td>23/10/2023</td>
                                    <td>28/10/2023</td>
                                    <td><span class="badge text-bg-primary">Casual</span></td>
                                    <td>attending mrg</td>
                                    <td>
                                        <select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Rejected</option>
                                            <option value="3">Pending</option>
                                        </select>
                                </tr>
                                <tr>
                                    <td scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="flexCheckDefault">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">Emp 01
                                    </td>
                                    <td>Xyz</td>
                                    <td>5</td>
                                    <td>23/10/2023</td>
                                    <td>28/10/2023</td>
                                    <td><span class="badge text-bg-primary">Casual</span></td>
                                    <td>attending mrg</td>
                                    <td>
                                        <select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Rejected</option>
                                            <option value="3">Pending</option>
                                        </select>
                                </tr>
                                <tr>
                                    <td scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="flexCheckDefault">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">Emp 01
                                    </td>
                                    <td>Xyz</td>
                                    <td>5</td>
                                    <td>23/10/2023</td>
                                    <td>28/10/2023</td>
                                    <td><span class="badge text-bg-primary">Casual</span></td>
                                    <td>attending mrg</td>
                                    <td>
                                        <select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Rejected</option>
                                            <option value="3">Pending</option>
                                        </select>
                                </tr>
                                <tr>
                                    <td scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="flexCheckDefault">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">Emp 01
                                    </td>
                                    <td>Xyz</td>
                                    <td>5</td>
                                    <td>23/10/2023</td>
                                    <td>28/10/2023</td>
                                    <td><span class="badge text-bg-primary">Casual</span></td>
                                    <td>attending mrg</td>
                                    <td>
                                        <select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Rejected</option>
                                            <option value="3">Pending</option>
                                        </select>
                                </tr>
                                <tr>
                                    <td scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="flexCheckDefault">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">Emp 01
                                    </td>
                                    <td>Xyz</td>
                                    <td>6</td>
                                    <td>23/10/2023</td>
                                    <td>Developer</td>
                                    <td><span class="badge text-bg-primary">Casual</span></td>
                                    <td>attending mrg</td>
                                    <td>
                                        <select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Rejected</option>
                                            <option value="3">Pending</option>
                                        </select>
                                </tr>
                                <tr>
                                    <td scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="flexCheckDefault">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">Emp 01
                                    </td>
                                    <td>Xyz</td>
                                    <td>7</td>
                                    <td>23/10/2023</td>
                                    <td>Developer</td>
                                    <td><span class="badge text-bg-primary">Casual</span></td>
                                    <td>attending mrg</td>
                                    <td>
                                        <select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Rejected</option>
                                            <option value="3">Pending</option>
                                        </select>
                                </tr>
                                <tr>
                                    <td scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="flexCheckDefault">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">Emp 01
                                    </td>
                                    <td>Xyz</td>
                                    <td>8</td>
                                    <td>23/10/2023</td>
                                    <td>Developer</td>
                                    <td><span class="badge text-bg-primary">Casual</span></td>
                                    <td>attending mrg</td>
                                    <td>
                                        <select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Rejected</option>
                                            <option value="3">Pending</option>
                                        </select>
                                </tr>
                                <tr>
                                    <td scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="flexCheckDefault">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">Emp 01
                                    </td>
                                    <td>Xyz</td>
                                    <td>9</td>
                                    <td>23/10/2023</td>
                                    <td>Developer</td>
                                    <td><span class="badge text-bg-primary">Casual</span></td>
                                    <td>attending mrg</td>
                                    <td>
                                        <select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Rejected</option>
                                            <option value="3">Pending</option>
                                        </select>
                                </tr>
                                <tr>
                                    <td scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="flexCheckDefault">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">Emp 01
                                    </td>
                                    <td>Xyz</td>
                                    <td>10</td>
                                    <td>23/10/2023</td>
                                    <td>Developer</td>
                                    <td><span class="badge text-bg-primary">Casual</span></td>
                                    <td>attending mrg</td>
                                    <td><select class="form-select form-select-sm" aria-label="Default select example">
                                            <option selected>Select</option>
                                            <option value="1">Approved</option>
                                            <option value="2">Rejected</option>
                                            <option value="3">Pending</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>