.rate {
  float: right;
  height: 2.875rem;
  padding: 0 0.625rem;

  &:not(:checked) > input {
    position: absolute;
    top: -624.938rem;
    left: 0;
  }
  &:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.875rem;
    color: $color-light-gray10;
  }
  &:not(:checked) > label:before {
    content: "★ ";
  }
  & > input:checked ~ label {
    color: $color-goldenyellow;
  }
  &:not(:checked) > label:hover,
  &:not(:checked) > label:hover ~ label {
    color: $color-goldenrod;
  }
  & > input:checked + label:hover,
  & > input:checked + label:hover ~ label,
  & > input:checked ~ label:hover,
  & > input:checked ~ label:hover ~ label,
  & > label:hover ~ input:checked ~ label {
    color: $color-golden-dark;
  }
}
