@use "../base/variable" as v;
@use "../base/color" as c;

  .full.color-indicator, .full div {
      background-color: c.$color-green;
  }
  
  .half.color-indicator, .half div {
      background-color: c.$color-goldenyellow;
  }
  
  .off.color-indicator, .off div {
      background-color: c.$color-red;
  }
  
  .weekTable td, .weekTable th {
      font-size: v.$font-size-xs;
      padding: .3rem;
      text-align: center;
      width: 12.5%;
  }
  
  .weekTable th {
      border-bottom: 0 !important;
  }
    
  .weekTable tr td.day {
      cursor: pointer;
  }
  
  .weekTable div {
      height: 0.938rem;
      width: 0.938rem;
      display: block;
      margin: 0.188rem auto;
  }