{% extends 'component/base.html' %}

{% load static  %}

{% block title %}Salary Edit{% endblock title %}

{% block extracss %}
{% endblock extracss %}

{% block maincontent %}
            <div class="main-content">
                <div class="card overflow-hidden">
                    <div class="card-body    overflow-hidden">
                    <form id="salaryInfoForm" method="POST" action="{% url 'payroll:edit_salary' payroll_data.id %}" class="">
                        {% csrf_token %}
                        <div class="row d-flex flex-wrap">
                            <div class="d-flex justify-content-between align-items-center mb-2 w-100 ">
                                <h5 class="mb-0" >Salary</h5>
                                <button type="button" id="editSalaryInfoBtn"
                                    class="btn custom-button btn-sm">Edit</button>
                            </div>
                            <div class="mb-2 col-12 col-md-4 col-xl-3">
                                <label for="year">Year</label>
                                <input type="text" id="year" class="form-control form-control-sm" name="year" id="year"
                                    value="{{payroll_data.year}}" readonly />

                            </div>
                            <div class="mb-2 col-12 col-md-4 col-xl-3">
                                <label for="month">Month</label>
                                <input type="text" id="month" class="form-control form-control-sm" name="month" value="{% now 'F' %}"
                                readonly />

                            </div>
                        </div>
                        <div class="row d-flex flex-wrap">
                            <div class="mb-2 col-12 col-md-4 col-xl-3">
                                <label for="employeename" class="form-label mb-0">Payroll ID</label>
                                <input type="text" class="form-control form-control-sm "
                                    id="payrollid" name="payroll_id" value="{{ payroll_data.payroll_id }}" readonly>
                            </div>

                            <div class="mb-2 col-12 col-md-4 col-xl-3">
                                <label for="employeeId" class="form-label mb-0">Employee Id</label>
                                <input type="text" class="form-control form-control-sm "
                                    id="employeeId" name="emp_id" value="{{ payroll_data.emp_id.emp_id }}" readonly>
                            </div>
                            <div class="mb-2 col-12 col-md-4 col-xl-3">
                                <label for="employeename" class="form-label mb-0">Employee Name</label>
                                <input type="text" class="form-control form-control-sm "
                                    id="employeename" name="name" value="{{payroll_data.emp_id.name}}" readonly>
                            </div>
                            <div class="mb-2 col-12 col-md-4 col-xl-3">
                                <label for="department" class="form-label mb-0 mb-0 w-md-50">Department</label>
                                <input type="text" class="form-control form-control-sm " readonly
                                    placeholder="B" id="department" value="{{payroll_data.emp_id.department}}" />
                            </div>
                            <div class="mb-2 col-12 col-md-4 col-xl-3">
                                <label for="designation" class="form-label mb-0 mb-0 w-md-50">Designation</label>
                                <input id="designation" type="text" class="form-control form-control-sm " readonly
                                    value="{{payroll_data.emp_id.designation}}" id="" />

                            </div>
                            <div class="mb-2 col-12 col-md-4 col-xl-3">
                                <label for="branch"  class="form-label mb-0 mb-0 w-md-50 me-1 text-nowrap">Branch </label>
                                <input type="text" class="form-control form-control-sm " readonly
                                    placeholder="Vadodara" id="branch" value="{{payroll_data.emp_id.company_branch}}" />
                            </div>
                            <div class="mb-2 col-12 col-md-4 col-xl-3 mb-2">
                                <label for="DateofJoining" class="form-label mb-0 mb-0 w-md-50 me-1 text-nowrap">Date of Joining </label>
                                <input type="text" class="form-control form-control-sm " readonly
                                    placeholder="" id="DateofJoining" value="{{payroll_data.emp_id.doj|date:'d-m-Y'}}" />
                            </div>
                            
                        </div>
              
                        <div class="row">
                            <h5 class="w-100">Working Details</h5>
                            <div class="col-12 col-md-4 d-flex align-items-center mb-2">
                                <label class="form-label mb-0 mb-0 mb-md-0 text-nowrap me-2 w-50" for="paid_days">Paid days :</label>
                                <input type="number" class="form-control form-control-sm " id="paid_days" value={{payroll_data.monthly_paiddays}} name="monthly_paiddays" readonly oninput="calculateNewCtc()" />
                            </div>
                            <div class="col-12 col-md-4 d-flex align-items-center mb-2">
                                <label class="form-label mb-0 mb-0 mb-md-0 text-nowrap me-2 w-50" for="total_days">Total days :</label>
                                <input type="text" class="form-control form-control-sm" id="total_days" value="{{total_days}}" name="monthly_paiddays" readonly />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 overflow-hidden flex-column p-0">
                                <div class="d-flex flex-column card">
                                    <div class="card-body p-0">
                                    <div class="table-responsive salpayrolltable-wrapper">
                                        <table id="pallsal" class="table table-sm">
                                            <thead class="">
                                                <tr>                                                   
                                                    <th scope="col">Income Head</th>
                                                    <th scope="col">Amt </th>
                                                    <th scope="col">Payable </th>
                                                    <!-- <th scope="col">Mode of Payment</th> -->
                                                </tr>
                                            </thead>
                                            <tbody class="">
                                                <tr>
                                                    <td scope="col">
                                                        <div class="">
                                                            <label class="form-control form-control-sm">CTC</label>
                                                            {% comment %} <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="Basic" placeholder="CTC" readonly> {% endcomment %}
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="fixedctc" name="fixed_ctc" placeholder="0"
                                                                value="{{payroll_data.fixed_ctc}}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="ctcInput" name="monthly_ctc" placeholder="0"
                                                                value="{{ payroll_data.monthly_ctc }}" readonly>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="col">
                                                        <div class="">
                                                            <label class="form-control form-control-sm">BASIC</label>
                                                            {% comment %} <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="Basic" placeholder="Basic" readonly> {% endcomment %}
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" name="fixed_basic" placeholder="0"
                                                                value="{{ payroll_data.fixed_basic }}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="basicAmount" name="monthly_basic" placeholder="0"
                                                                value="{{payroll_data.monthly_basic}}" readonly>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="col">
                                                        <div class="">
                                                            <label class="form-control form-control-sm">HRA</label>
                                                            {% comment %} <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="HRA" readonly> {% endcomment %}
                                                        </div>
                                                        </th>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" value="{{ payroll_data.fixed_hra }}" 
                                                                name="fixed_hra" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="hraAmount" name="monthly_hra" placeholder="0"
                                                                value="{{ payroll_data.monthly_hra}}" readonly>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>                                                  
                                                    <td scope="col">
                                                        <div class="">
                                                            <label class="form-control form-control-sm">CA</label>
                                                            {% comment %} <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="ca" readonly> {% endcomment %}
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" name="fixed_ca" placeholder="0"
                                                                value="{{payroll_data.fixed_ca}}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="ca" name="monthly_ca" placeholder="0"
                                                                value="{{ payroll_data.monthly_ca}}" readonly>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="col">
                                                        <div class="">
                                                            <label class="form-control form-control-sm">SA</label>
                                                            {% comment %} <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="sa" readonly> {% endcomment %}
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" name="fixed_sa" placeholder="0"
                                                                value="{{ payroll_data.fixed_sa}}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="sa" name="monthly_sa" placeholder="0"
                                                                value="{{ payroll_data.monthly_sa}}" readonly>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="col">
                                                        <div class="">
                                                            <label class="form-control form-control-sm">Incentives</label>
                                                            {% comment %} <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="Incentives" readonly> {% endcomment %}
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" value="" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="monthly_incentive" name="monthly_incentive" placeholder="0" value="{{payroll_data.monthly_incentive}}" oninput="handleIncentiveChange('{{ payroll_data.emp_id.emp_id }}')" readonly >
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="col">
                                                        <div class="">
                                                            <label class="form-control form-control-sm">Gross Salary</label>
                                                            {% comment %} <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="Gross Salary" readonly> {% endcomment %}
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" name="fixed_gross_salary"
                                                                value="{{ payroll_data.fixed_gross_salary }}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="grossAmount" name="monthly_gross_salary"
                                                                placeholder="0" value="{{payroll_data.monthly_gross_salary}}" readonly>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 overflow-hidden p-0">
                                <div class="d-flex flex-column justify-content-between card">
                                    <div class="card-body p-0">
                                    <div class="table-responsive salpayrolltable-wrapper h-100">
                                        <table id="salparolltab2" class="table table-sm">
                                            <thead class="">
                                                <tr>
                                                    <th scope="col" class="text-wrap">Deduction Head</th>
                                                    <th scope="col" class="text-wrap">Amt deduct Employee</th>
                                                    <th scope="col" class="text-wrap">Payable Employee</th>
                                                    <th scope="col" class="text-wrap">Amt deduct Employer</th>
                                                    <th scope="col" class="text-wrap">Payable Employer</th>
                                                </tr>
                                            </thead>
                                            <tbody class="">
                                                <tr>
                                                    <td scope="col">
                                                        <div class="">
                                                            <label class="form-control form-control-sm">P.F</label>
                                                            {% comment %} <input type="text"
                                                                class="form-control form-control-sm  " 
                                                                id=""  value="P.F" readonly>   {% endcomment %}
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" name="fixed_employeepf"
                                                                value="{{ payroll_data.fixed_employeepf }}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm "
                                                                id="employeePF" placeholder="0"
                                                                name="monthly_employeepf" value=" {{payroll_data.monthly_employeepf}} " readonly />
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" name="fixed_employerpf"
                                                                value="{{ payroll_data.fixed_employerpf }}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="employerPF" placeholder="0"
                                                                name="monthly_employerpf" value="{{payroll_data.monthly_employerpf}}" readonly>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="col">
                                                        <div class="">
                                                            <label class="form-control form-control-sm">P.t</label>
                                                            {% comment %} <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="P.T" readonly> {% endcomment %}
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" name="fixed_professionalTax"
                                                                value="{{payroll_data.fixed_professionalTax}}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="professionalTax" name="monthly_professionalTax"
                                                                placeholder="0" value="{{payroll_data.monthly_professionalTax}}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" value="" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" value="" readonly>
                                                        </div>
                                                    </td>
                                                </tr>
                                             
                                                <tr>
                                                    <td scope="col">
                                                        <div class="">
                                                            <label class="form-control form-control-sm">E.S.I.C</label>
                                                            {% comment %} <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="E.S.I.C" readonly> {% endcomment %}
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" name="fixed_employeeesic"
                                                                value="{{payroll_data.fixed_employeeesic}}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="employeeESIC" name="monthly_employeeesic"
                                                                placeholder="0" value="{{payroll_data.monthly_employeeesic}}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" name="fixed_employeresic"
                                                                value="{{payroll_data.fixed_employeresic}}" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="employerESIC" name="monthly_employeresic"
                                                                placeholder="0" value="{{payroll_data.monthly_employeresic}}" readonly>
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td scope="col">
                                                        <div class="">
                                                            <label class="form-control form-control-sm">Others</label>
                                                            {% comment %} <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="OTHERS" readonly> {% endcomment %}
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm"
                                                                id="" placeholder="0" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm" id="monthly_loan_other" name="monthly_loan_other" value="{{payroll_data.monthly_loan_other}}" oninput="handleLoanChange('{{ payroll_data.emp_id.emp_id }}')" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" readonly>
                                                        </div>
                                                    </td>
                                                    <td scope="col">
                                                        <div class="">
                                                            <input type="text"
                                                                class="form-control form-control-sm  "
                                                                id="" placeholder="0" readonly>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                </div>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-2  d-flex justify-content-center align-items-center">
                                <label for="newCTC" class="form-label mb-0 text-nowrap me-2 mb-0">Monthly CTC:</label>
                                <input type="text" class="form-control form-control-sm" id="newCTC" name="monthly_newctc"
                                    placeholder="0" value="{{payroll_data.monthly_newctc}}" readonly/>
                            </div>
                            <div
                                class="col-12 col-md-6 mb-2 d-flex justify-content-between align-items-center flex-wrap ">
                                <div class="d-flex  justify-content-center align-items-center mb-2">
                                    <label for="totaldeduction" class="form-label mb-0 text-nowrap w-50 me-2 mb-0">Total
                                        Deduction :</label>
                                    <input type="text" class="form-control  form-control-sm " id="totaldeduction"
                                        name="monthly_total_deductions" name="" placeholder="0" value="{{payroll_data.monthly_total_deductions}}" readonly/>
                                </div>
                                <div class="d-flex  justify-content-center align-items-center mb-2">
                                    <label for="NetSalaryPayable" class="form-label mb-0 text-nowrap w-50 me-2 mb-0 ">Net
                                        Salary Payable :</label>
                                    <input type="text" class="form-control  form-control-sm " id="netPay"
                                        name="monthly_netpay" placeholder="0" value="{{payroll_data.monthly_netpay}}" readonly/>
                                </div>
                              
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-flex  justify-content-center align-items-center mb-2">
                                    <label for="" class="form-label mb-0 text-nowrap me-2 mb-0">Payment Mode :</label>
                                    <select class="form-select form-select-sm" id="paymentmode" name="paymentmode" readonly>
                                        <option value="{{payroll_data.paymentmode }}" selected> {{payroll_data.paymentmode}}
                                        </option>
                                      
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="d-flex  justify-content-center align-items-center mb-2">
                                    <label for="AmountinWords" class="form-label mb-0 text-nowrap w-50 me-2 mb-0">Amount in
                                        Words :</label>
                                    <input type="text" class="form-control  form-control-sm   "
                                        id="monthly_netpayinwords" name="monthly_netpayinwords"
                                       value="{{payroll_data.monthly_netpayinwords}}" readonly />
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-flex  justify-content-end align-items-center mb-2">
                                    <button type="submit" id="saveSalaryInfoBtn" class="btn custom-button btn-sm me-2"
                                    readonly>Save Changes</button>
                                    <button type="button" class="btn btn-secondary btn-sm" id="cancelEditBtn">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>        
            {%endblock maincontent%}
            {% block extrascript %}
            <script>
                $(document).ready(function () {
                    $('#editSalaryInfoBtn').click(function (event) {
                        // Prevent the default behavior of the button
                        event.preventDefault();
                        // Select the fields to be toggled
                        const fieldsToToggle = $('#paid_days, #ctcInput, #basicAmount, #hraAmount, #otherAmount, #monthly_sa, #grossAmount, #employeePF, #employerPF, #professionalTax, #employeeESIC, #employerESIC, #newCTC, #totaldeduction, #netPay, #monthly_netpayinwords, #monthly_incentive, #monthly_loan_other');
                        // Check the current state of the first field
                        const isreadonly = fieldsToToggle.prop('readonly');
                        // Toggle the readonly property of the fields
                        fieldsToToggle.prop('readonly', !isreadonly);
                        // Enable the Save Changes button if any fields are enabled, otherwise disable it
                        if (isreadonly) {
                            $('#saveSalaryInfoBtn').prop('readonly', false);
                        } else {
                            $('#saveSalaryInfoBtn').prop('readonly', true);
                        }
                    });
                    $('#cancelEditBtn').click(function (event) {
                        // Prevent the default behavior of the button
                        event.preventDefault();
                        // Reload the page to reset the form
                        location.reload();
                    });
                    // Handle form submission
                    $('#salaryInfoForm').submit(function (event) {
                        // Prevent the default form submission
                        event.preventDefault();
                        // Get the CSRF token
                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        // Create FormData object to send the form data including files
                        const formData = new FormData(this);
                        // Perform an AJAX request to submit the form data
                        $.ajax({
                            url: $(this).attr('action'), // Get the form action URL
                            method: $(this).attr('method'), // Get the form method (POST)
                            headers: {
                                'X-CSRFToken': csrftoken
                            },
                            data: formData, // Use FormData to send the form data including files
                            processData: false, // Prevent jQuery from automatically processing the data
                            contentType: false, // Prevent jQuery from automatically setting Content-Type
                            enctype: 'multipart/form-data', // Set the enctype to multipart/form-data
                            success: function (response) {
                                // Display a success message
                                alert('Salary updated successfully.');
                                // Re-disable the input fields after successful submission
                                $('#salaryInfoForm input').prop('readonly', true);
                                $('#salaryInfoForm select').prop('readonly', true);
                                $('#saveSalaryInfoBtn').prop('readonly', true);
                                location.reload(); // Reload the page
                            },
                            error: function (xhr, status, error) {
                                // Handle errors if any
                                alert('Error: ' + error);
                            }
                        });
                    });
                });

                function calculateNewCtc() {
                    var ctc = parseFloat(document.getElementById('fixedctc').value);
                    var ctcAmount = document.getElementById('ctcInput');
                    var total_days = parseFloat(document.getElementById('total_days').value);
                    var paid_days = parseFloat(document.getElementById('paid_days').value);
                    var newctc = (ctc * paid_days) / total_days;
                    console.log(newctc);
                    calculateSalary(newctc); 
                    ctcAmount.value = newctc;
                }

                function calculateSalary(ctcAmountValue) {
                    var basic_perc = 60.0;
                    var hra_perc = 30;
                    var pf_perc = 12;
                    var pf_fix = 1800;
                    var employer_esic_perc = 3.25;
                    var employee_esic_perc = 0.75;
                    var tolerance = 0.01;
            
                    var ctcAmount = document.getElementById('ctcInput');
                    var basicAmount = document.getElementById('basicAmount');
                    var hraAmount = document.getElementById('hraAmount');
                    var ca = document.getElementById('ca');
                    var sa = document.getElementById('sa');
                    var grossAmount = document.getElementById('grossAmount');
                    var employeePF = document.getElementById('employeePF');
                    var employerPF = document.getElementById('employerPF');
                    var employeeESIC = document.getElementById('employeeESIC');
                    var employerESIC = document.getElementById('employerESIC');
                    var newCTC = document.getElementById('newCTC');
            
                    var professionalTax = document.getElementById('professionalTax');
                    var netPay = document.getElementById('netPay');
                    var totaldeduction = document.getElementById('totaldeduction');
            
                    var ctcAmountValue = parseFloat(ctcAmountValue) || 0;
                    var basicAmountValue = Math.round((basic_perc * ctcAmountValue) / 100);
                    var hraAmountValue = Math.round((hra_perc * basicAmountValue) / 100);
            
                    var allowances = ctcAmountValue - (basicAmountValue + hraAmountValue);
            
                    var finalCTC = 0;
                    while (Math.abs(finalCTC - ctcAmountValue) > tolerance) {
                        var grossAmountValue = basicAmountValue + hraAmountValue + allowances;
                        var employerESICValue = grossAmountValue < 21000 ? 0.0325 * grossAmountValue : 0;
                        var employerPFValue = (basicAmountValue + allowances > 15000) ? pf_fix : 0.12 * (grossAmountValue - hraAmountValue);
                        finalCTC = basicAmountValue + hraAmountValue + allowances + employerPFValue + employerESICValue;
            
                        if (finalCTC < ctcAmountValue) {
                            allowances += tolerance;
                        } else {
                            allowances -= tolerance;
                        }
                    }
            
                    allowances = Math.round(allowances);
                    grossAmountValue = Math.round(basicAmountValue + hraAmountValue + allowances);
                    employerPFValue = Math.round((basicAmountValue + allowances > 15000) ? pf_fix : 0.12 * (grossAmountValue - hraAmountValue));
                    employerESICValue = Math.round(grossAmountValue < 21000 ? 0.0325 * grossAmountValue : 0);
                    finalCTC = Math.round(basicAmountValue + hraAmountValue + allowances + employerPFValue + employerESICValue);
            
                    var employeePFValue = employerPFValue;
                    var employeeESICValue = grossAmountValue < 21000 ? Math.round(0.0075 * grossAmountValue) : 0;
            
                    caValue = allowances * 0.6;
                    saValue = allowances * 0.4;
            
                    basicAmount.value = basicAmountValue.toFixed(2);
                    hraAmount.value = hraAmountValue.toFixed(2);
                    ca.value = caValue.toFixed(2);
                    sa.value = saValue.toFixed(2);
                    grossAmount.value = grossAmountValue.toFixed(2);
                    employeePF.value = employeePFValue.toFixed(2);
                    employerPF.value = employerPFValue.toFixed(2);
                    employeeESIC.value = employeeESICValue.toFixed(2);
                    employerESIC.value = employerESICValue.toFixed(2);
                    newCTC.value = finalCTC.toFixed(2);
            
                    if (grossAmountValue > 12000) {
                        professionalTaxValue = 200;
                    } else {
                        professionalTaxValue = 0;
                    }

                            // Get the incentive input value
                    var incentiveAmount = parseFloat(document.getElementById('monthly_incentive').value) || 0;
                    // Get the loan input value
                    var loanAmount = parseFloat(document.getElementById('monthly_loan_other').value) || 0;

                    
                    netPayValue = finalCTC - employeeESICValue - employeePFValue - employerESICValue - employerPFValue - professionalTaxValue + incentiveAmount - loanAmount ;
                    totaldeductionValue = employeeESICValue + employeePFValue + professionalTaxValue + loanAmount;
            
                    professionalTax.value = professionalTaxValue.toFixed(2);
                    netPay.value = netPayValue.toFixed(2);
                    totaldeduction.value = totaldeductionValue.toFixed(2);
                }
                        // Handle incentive input change
                $('#monthly_incentive').on('input', function () {
                    calculateNewCtc();
                });

                // Handle loan input change
                $('#monthly_loan_other').on('input', function () {
                    calculateNewCtc();
                });
            </script>
    {% endblock extrascript %}