{% extends 'component/base.html' %}
{% load static %}
{% block title %}
  Month Salary
{% endblock %}
{% block extracss %}

{% endblock %}
{% block maincontent %}
  <div class="main-content">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between flex-wrap mb-1">
          <form method="post" action="{% url 'payroll:generate_salary' %}" class="w-100">
            {% csrf_token %}
            {% for message in messages %}
              {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
              {% else %}
                <label for="exampleInputEmail1" class="form-label mb-0 text-left text-danger">{{ message }}</label>
              {% endif %}
            {% endfor %}
            {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                    {{ error }}
                  {% endfor %}
                {% endfor %}
              </div>
            {% endif %}
            <div class="col-12 d-flex justify-content-between align-items-center">
              <div class="d-flex">
                <div class="col-12 col-md-6 d-flex align-items-center px-2">
                  <label class="form-check-label me-2" for="year">Year</label>
                  <input type="text" id="year" class="form-control form-control-sm" name="year" value="{{ fiscal_year }}" readonly />
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center px-2">
                  <label class="form-check-label me-2" for="month">Month</label>
                  <input type="text" id="month" class="form-control form-control-sm" name="month" value="{% now 'F' %}" readonly />
                </div>
              </div>
              <div class="d-flex justify-content-end mb-1">
                {% comment %} {% if show_generate_button %}
                  {% endcomment %}
                  <button type="submit" class="btn custom-button btn-sm">Submit</button>
                  {% comment %}
                {% endif %} {% endcomment %}
                {% comment %} <button class="btn custom-button btn-sm" type="submit" name="download_button">
                  Generate Salary
                  <i class="bi bi-box-arrow-down"></i>
                </button> {% endcomment %}
              </div>
            </div>
            <div class="row overflow-hidden mt-1">
              <div class="table-responsive overflow-auto">
                <table class="table-responsive overflow-auto DataTable" id="salaryTable">
                  <thead class="bg-none">
                    <tr class="bg-none">
                      <th class="d-none" scope="col">Payroll Id</th>
                      <th scope="col">Emp Id</th>
                      <th scope="col" style="white-space: nowrap;">Emp Name</th>
                      <th class="d-none" scope="col">Week Off</th>
                      <th class="d-none" scope="col">Present Days</th>
                      <th class="d-none" scope="col">Half Days</th>
                      <th class="d-none" scope="col">Absent Days</th>
                      <th scope="col">Paid Days</th>
                      <th class="d-none" scope="col">total_days_in_month</th>
                      <th class="d-none" scope="col">Fixed CTC</th>
                      <th scope="col" style="width:90px !important ; min-width:90px; max-width:90px;">CTC</th>
                      <th class="d-none" scope="col">Basic</th>
                      <th class="d-none" scope="col">HRA</th>
                      <th class="d-none" scope="col">CA</th>
                      <th class="d-none" scope="col">SA</th>
                      <th class="d-none" scope="col">Employer PF</th>
                      <th class="d-none" scope="col">Employer ESIC</th>
                      <th class="d-none" scope="col">Employee PF</th>
                      <th class="d-none" scope="col">Employee ESIC</th>
                      <th class="d-none" scope="col">PT</th>
                      <th style="width:350px !important ; min-width:'350px'; max-width:'350px'">Gross Pay</th>
                      <th style="width:50px !important">Incentives</th>
                      <th style="width:50px !important">Loan / Other</th>
                      <th style="width:50px !important">Total Deduction</th>
                      <th style="width:50px !important">Net Salary Pay</th>
                      <th class="d-none" scope="col">newCTC</th>
                      <th class="d-none" scope="col">fixed_basic</th>
                      <th class="d-none" scope="col">fixed_hra</th>
                      <th class="d-none" scope="col">fixed_ca</th>
                      <th class="d-none" scope="col">fixed_sa</th>
                      <th class="d-none" scope="col">fixed_employerpf</th>
                      <th class="d-none" scope="col">fixed_employeresic</th>
                      <th class="d-none" scope="col">fixed_employeepf</th>
                      <th class="d-none" scope="col">fixed_employeeesic</th>
                      <th class="d-none" scope="col">fixed_professionalTax</th>
                      <th class="d-none" scope="col">fixed_gross_salary</th>
                      <th class="d-none" scope="col">fixed_total_deductions</th>
                      <th class="d-none" scope="col">fixed_netpay</th>
                      <th class="d-none" scope="col">fixed_newctc</th>
                      <th scope="col">Remarks</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody class="bg-none">
                    {% for employee in employee_data %}
                      {% for payroll_data in payroll_datas %}
                        {% if employee.emp_id == payroll_data.emp_id.emp_id %}
                          <tr class="row-select">
                            <td class="d-none">
                              <input name="payroll_id" class="form-control form-control-sm" value="{{ payroll_data.payroll_id }}" readonly/>
                            </td>
                            <td>{{ employee.emp_id }}
                              <input type="hidden" name="emp_id" value="{{ employee.emp_id }}" />
                            </td>
                            <td style="white-space: nowrap;">
                              {{ employee.name }} <input type="hidden" name="name" value="{{ employee.name }}" />
                            </td>
                            <td class="d-none">
                              <input type="number" class="form-control form-control-sm" value="{{ total_saturdays_and_sundays }}" name="monthly_weekoffdays" />
                            </td>
                            <td class="d-none">
                              <input type="number" class="form-control form-control-sm" value="{{ employee.total_present_days }}" name="monthly_presentdays" />
                            </td>
                            <td class="d-none">
                              <input type="number" class="form-control form-control-sm" value="{{ employee.total_half_days }}" name="monthly_halfdays" />
                            </td>
                            <td class="d-none">
                              <input type="number" class="form-control form-control-sm" value="{{ employee.total_absent_days }}" name="monthly_absentdays" />
                            </td>
                            <td style="width:110px !important">
                              <input id="paid_days" type="" class="form-control form-control-sm w-100 border-0" value="{{ employee.total_paid_days }}" name="monthly_paiddays" onchange="calculateAllCTCs()"/>
                            </td>
                            <td class="d-none" style="width:150px !important">
                              <input id="total_days" type="" class="form-control form-control-sm w-100 border-0" value="{{ total_days_in_month }}" name="total_days_in_month" />
                            </td>
                            <td class="d-none">
                              <input class="form-control form-control-sm" id="fixedctc" name="fixed_ctc" value="{{ payroll_data.ctc }}" />
                            </td>
                            <td style="width:90px !important ; min-width:'90px'; max-width:'90px'">
                              <input type="text" class="form-control form-control-sm w-100" id="ctcInput" value="{{ payroll_data.ctc|default:0 }}" readonly />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm" id="basicAmount" name="monthly_basic" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm" id="hraAmount" name="monthly_hra" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm" id="ca" name="monthly_ca" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm" id="sa" name="monthly_sa" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm" id="employerPF" name="monthly_employerpf" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm" id="employerESIC" name="monthly_employeresic" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm" id="employeePF" name="monthly_employeepf" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm border-1 bg-transparent" id="employeeESIC" name="monthly_employeeesic" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm border-1 bg-transparent" id="professionalTax" type="text" class="form-control form-control-sm w-100" name="monthly_professionalTax" />
                            </td>
                            <td style="width:350px !important ; min-width:'350px'; max-width:'350px'">
                              <input type="text" class="form-control form-control-sm w-100" id="grossAmount" name="monthly_gross_salary" readonly />
                            </td>
                            <td style="width:230px !important">
                              <input type="text" class="form-control form-control-sm border-1 w-100" id="monthly_incentive" name="monthly_incentive" onchange="calculateAllCTCs()" />
                            </td>
                            <td style="width:280px !important">
                              <input type="text" class="form-control form-control-sm border-1 w-100" id="monthly_loan_other" name="monthly_loan" onchange="calculateAllCTCs()" />
                            </td>
                            <td style="width:230px !important">
                              <input type="text" class="form-control form-control-sm w-100 border-0" id="totaldeduction" name="monthly_total_deductions" value="0" readonly />
                            </td>
                            <td style="width:230px !important">
                              <input type="text" class="form-control form-control-sm w-100 border-0" id="netPay" name="monthly_netpay" readonly />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm" id="newCTC" name="monthly_ctc" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm border-1 bg-transparent" name="fixed_basic" value="{{ payroll_data.basic }}" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm border-1 bg-transparent" name="fixed_hra" value="{{ payroll_data.hra }}" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm border-1 bg-transparent" name="fixed_ca" value="{{ payroll_data.ca }}" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm border-1 bg-transparent" name="fixed_sa" value="{{ payroll_data.sa }}" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm border-1 bg-transparent" name="fixed_employerpf" value="{{ payroll_data.employer_pf }}" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm border-1 bg-transparent" name="fixed_employeresic" value="{{ payroll_data.employer_esic }}" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm border-1 bg-transparent" value="{{ payroll_data.employee_pf }}" name="fixed_employeepf" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm border-1 bg-transparent" name="fixed_employeeesic" value="{{ payroll_data.employee_esic }}" />
                            </td>
                            <td class="d-none">
                              <input type="text" class="form-control form-control-sm border-1 bg-transparent" name="fixed_professionalTax" value="{{ payroll_data.pt }}" />
                            </td>
                            <td class="d-none" style="width:350px !important ; min-width:'350px'; max-width:'350px'">
                              <input type="text" class="form-control form-control-sm w-100 border-0 bg-transparent" name="fixed_gross_salary" value="{{ payroll_data.gross_salary }}" />
                            </td>
                            <td class="d-none" style="width:230px !important">
                              <input type="text" class="form-control form-control-sm w-100 border-0" name="fixed_newctc" value="{{ payroll_data.monthly_ctc }}" />
                            </td>
                            <td class="d-none" style="width:230px !important">
                              <input type="text" class="form-control form-control-sm w-100 border-0" name="fixed_total_deducation" value="{{ payroll_data.total_deduction }}" />
                            </td>
                            <td class="d-none" style="width:230px !important">
                              <input type="text" class="form-control form-control-sm w-100 border-0" name="fixed_netpay" value="{{ payroll_data.net_salary }}" />
                            </td>
                            <td style="width:230px !important">
                              <input type="text" class="form-control form-control-sm border-1 w-100" name="remarks" placeholder="" />
                            </td>
                            <td style="width:230px !important">
                              <div class="d-flex">
                                <a class="btn btn-sm custom-button me-2" href="{% url 'payroll:view_beforegenerate_salary' payroll_data.pk %}"><i class="bi bi-eye"></i></a>
                                {% comment %} <a class="btn btn-sm btn-success me-2" href="{% url 'payroll:edit_beforegenerate_salary' payroll_data.pk %}"><i class="bi bi-pencil-square"></i></a> {% endcomment %}
                                <!-- Add other actions as needed -->
                              </div>
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4">Totals:</td>
                      <td id="totalBasic"></td>
                      <td id="totalHRA"></td>
                      <td id="totalCA"></td>
                      <td id="totalSA"></td>
                      <!-- Add more <td> elements for otder columns you want to total -->
                      <td id="totalGross"></td>
                      <td></td>
                      <td></td>
                      <td id="totalDeduction"></td>
                      <td id="totalNetPay"></td>
                      <!-- ... Your existing footer row ... -->
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrascript %}
  <script>
  	$(document).ready(function () {
  		$('#salaryTable').DataTable({
  			responsive: true,
  			searching: true,
  			paging: true,
  			fixedHeader: true,
  		});
  		document.addEventListener('DOMContentLoaded', function () {
  			const activateSwitches = document.querySelectorAll('.activate-switch');
  			activateSwitches.forEach(function (switchElement) {
  				switchElement.addEventListener('change', function () {
  					const empId = switchElement.dataset.empId;
  					fetch(`/check_payroll_status/${empId}/`)
  						.then(response => response.json())
  						.then(data => {
  							if (data.hasActivePayroll) {
  								switchElement.checked = true;
  							} else {
  								alert('First activate payroll for this employee.');
  								switchElement.checked = false;
  							}
  						})
  						.catch(error => console.error('Error:', error));
  				});
  			});
  		});
  	});

  var calculateAllCTCs = function () {
    var rows = document.querySelectorAll('tr.row-select'); // Select all employee rows

    rows.forEach(function (row) {
        var ctc = parseFloat(row.querySelector('[name="fixed_ctc"]').value);
        var totalDays = parseFloat(row.querySelector('[name="total_days_in_month"]').value);
        var paidDays = parseFloat(row.querySelector('[name="monthly_paiddays"]').value);
        var newCTC = (ctc * paidDays) / totalDays;

        // Update the CTC input field
        row.querySelector('[id="ctcInput"]').value = newCTC.toFixed(2);

        calculateSalary(row, newCTC); // Call the salary calculation function
    });
};

var calculateSalary = function (row, ctcAmountValue) {
    var basicPerc = 60.0;
    var hraPerc = 30;
    var pfPerc = 12;
    var pfFix = 1800;
    var employerEsicPerc = 3.25;
    var employeeEsicPerc = 0.75;
    var tolerance = 0.01;

    var basicAmountValue = Math.round((basicPerc * ctcAmountValue) / 100);
    var hraAmountValue = Math.round((hraPerc * basicAmountValue) / 100);
    var allowances = ctcAmountValue - (basicAmountValue + hraAmountValue);
    var finalCTC = 0;

    while (Math.abs(finalCTC - ctcAmountValue) > tolerance) {
        var grossAmountValue = basicAmountValue + hraAmountValue + allowances;
        var employerEsicValue = grossAmountValue < 21000 ? 0.0325 * grossAmountValue : 0;
        var employerPFValue = (basicAmountValue + allowances > 15000) ? pfFix : 0.12 * (grossAmountValue - hraAmountValue);
        finalCTC = basicAmountValue + hraAmountValue + allowances + employerPFValue + employerEsicValue;

        if (finalCTC < ctcAmountValue) {
            allowances += tolerance;
        } else {
            allowances -= tolerance;
        }
    }

    allowances = Math.round(allowances);
    grossAmountValue = Math.round(basicAmountValue + hraAmountValue + allowances);
    employerPFValue = Math.round((basicAmountValue + allowances > 15000) ? pfFix : 0.12 * (grossAmountValue - hraAmountValue));
    employerEsicValue = Math.round(grossAmountValue < 21000 ? 0.0325 * grossAmountValue : 0);
    finalCTC = Math.round(basicAmountValue + hraAmountValue + allowances + employerPFValue + employerEsicValue);
    var employeePFValue = employerPFValue;
    var employeeESICValue = grossAmountValue < 21000 ? Math.round(0.0075 * grossAmountValue) : 0;
    var caValue = allowances * 0.6;
    var saValue = allowances * 0.4;

    row.querySelector('[id="basicAmount"]').value = basicAmountValue.toFixed(2);
    row.querySelector('[id="hraAmount"]').value = hraAmountValue.toFixed(2);
    row.querySelector('[id="ca"]').value = caValue.toFixed(2);
    row.querySelector('[id="sa"]').value = saValue.toFixed(2);
    row.querySelector('[id="grossAmount"]').value = grossAmountValue.toFixed(2);
    row.querySelector('[id="employeePF"]').value = employeePFValue.toFixed(2);
    row.querySelector('[id="employerPF"]').value = employerPFValue.toFixed(2);
    row.querySelector('[id="employeeESIC"]').value = employeeESICValue.toFixed(2);
    row.querySelector('[id="employerESIC"]').value = employerEsicValue.toFixed(2);
    row.querySelector('[id="newCTC"]').value = finalCTC.toFixed(2);

    var professionalTaxValue = grossAmountValue > 12000 ? 200 : 0;
    var incentiveAmount = parseFloat(row.querySelector('[id="monthly_incentive"]').value) || 0;
    var loanAmount = parseFloat(row.querySelector('[id="monthly_loan_other"]').value) || 0;
    var netPayValue = finalCTC - employeeESICValue - employeePFValue - employerEsicValue - employerPFValue - professionalTaxValue + incentiveAmount - loanAmount;
    var totaldeductionValue = employeeESICValue + employeePFValue + professionalTaxValue + loanAmount;

    row.querySelector('[id="professionalTax"]').value = professionalTaxValue.toFixed(2);
    row.querySelector('[id="netPay"]').value = netPayValue.toFixed(2);
    row.querySelector('[id="totaldeduction"]').value = totaldeductionValue.toFixed(2);
};

// Call the function to calculate all CTCs
calculateAllCTCs();

  </script> 
  {% endblock %}
