{% extends 'component/base.html' %}

{% load static  %}

{% block title %}Onboarding Process{% endblock title %}

        {% block extracss %}
        {% endblock extracss %}
        
        {% block maincontent %}
            <div class="main-content ">
                <div>
                    {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} m-0" role="alert">
                              <div class="row">
                                  <div class="col-10 form-group">
                                      {{ message }}
                                  </div>
                                  <div class="col-2 form-group d-flex justify-content-end">
                                      <button type="button" class="btn-close close-success" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                    {% endif %}
                </div>
                <div class=" d-flex justify-content-between align-items-center w-100 p-2">
                    <h4>Upload Documnets of <strong class="primarycolor">{{ candidate_resume.name }}</strong></h4>
                    <a href="{{ candidate_resume.resume.url}}" target="_blank"
                                                    class="btn custom-button"><i class="bi bi-eye"> View Resume</i></a>
                   
                </div>
                <div class="p-2 formbg ">
                    <ul class="nav nav-pills mb-3 d-flex " id="pills-tab" role="tablist">
                        {% comment %} <li class="nav-item me-3" role="presentation">
                            <button class="nav-link active custom-button" id="pills-KYC-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-KYC" type="button" role="tab" aria-controls="pills-KYC"
                                aria-selected="true">Kyc Details</button>
                        </li> {% endcomment %}
                        {% comment %} <li class="nav-item me-3" role="presentation">
                            <button class="nav-link custom-button" id="pills-AccountDetails-tab " data-bs-toggle="pill"
                                data-bs-target="#pills-AccountDetails" type="button" role="tab" aria-controls="pills-AccountDetails"
                                aria-selected="false">Account Details</button>
                        </li>
                        <li class="nav-item me-3" role="presentation">
                            <button class="nav-link custom-button" id="pills-EducationDetails-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-EducationDetails" type="button" role="tab" aria-controls="pills-EducationDetails"
                                aria-selected="false">Educational Documents</button>
                        </li>
                        <li class="nav-item me-3" role="presentation">
                            <button class="nav-link custom-button" id="pills-others-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-others" type="button" role="tab" aria-controls="pills-Others"
                                aria-selected="false">Others</button>
                        </li> {% endcomment %}
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-KYC" role="tabpanel"
                            aria-labelledby="pills-KYC-tab" tabindex="0">
                            <form method="post" enctype="multipart/form-data" action="{% url 'hr:onboardingProcess' onboarding_id %}" id="KYCForm">
                                {% csrf_token %}
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_form.c_psimg.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_form.c_psimg}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_c_psimg" class="preview-img img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_form.c_adhar.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_form.c_adhar}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_c_adhar" class="preview-img img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_form.c_pan.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_form.c_pan}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_id_c_pan" class="preview-img img-fluid " alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_form.c_bankDetails.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_form.c_bankDetails}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_c_bankDetails" class="preview-img img-fluid " alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn custom-button btn-sm" name="form1_submit">Save</button>
                                </div>
                            </form>
                        </div>
                        {% comment %} <div class="tab-pane fade" id="pills-AccountDetails" role="tabpanel"
                            aria-labelledby="pills-AccountDetails-tab" tabindex="0">
                            <form method="post" enctype="multipart/form-data" action="{% url 'hr:onboardingProcess' onboarding_id %}" id="AccountDetailsForm">
                                {% csrf_token %}
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_AccountDetils_Form.c_bankStatement.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_AccountDetils_Form.c_bankStatement}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_c_bankStatement" class="preview-img img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_AccountDetils_Form.c_salarySlips.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_AccountDetils_Form.c_salarySlips}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_c_salarySlips" class="preview-img img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn custom-button btn-sm" name="form3_submit">Save</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="pills-EducationDetails" role="tabpanel"
                            aria-labelledby="pills-EducationDetails-tab" tabindex="0">
                            <form method="post" enctype="multipart/form-data" action="{% url 'hr:onboardingProcess' onboarding_id %}" id="EducationalDetailsForm">
                                {% csrf_token %}
                                {% comment %} <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_EducationDetils_Form.secondary.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_EducationDetils_Form.secondary}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_secondary" class="preview-img img-fluid" alt="">
                                        </div>
                                    </div>
                                </div> 
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_EducationDetils_Form.c_HSC.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_EducationDetils_Form.c_HSC}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_c_HSC" class="preview-img img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_EducationDetils_Form.c_degree.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_EducationDetils_Form.c_degree}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_c_degree" class="preview-img img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_EducationDetils_Form.c_masters.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_EducationDetils_Form.c_masters}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_c_masters" class="preview-img img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_EducationDetils_Form.c_otherCertificate.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_EducationDetils_Form.c_otherCertificate}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_c_otherCertificate" class="preview-img img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_EducationDetils_Form.c_expLetter.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_EducationDetils_Form.c_expLetter}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_c_expLetter" class="preview-img img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5 col-12 col-md-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex col-12 col-md-4 flex-column">
                                            {{onboarding_EducationDetils_Form.c_previousJoiningLetter.label_tag}}
                                            <div class="d-flex">
                                                {{onboarding_EducationDetils_Form.c_previousJoiningLetter}}
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/static/admin/img/Upload.svg" id="preview_c_previousJoiningLetter" class="preview-img img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn custom-button btn-sm" name="form2_submit">Save</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab"
                            tabindex="0">
                            <p>Send Offer letter </p>
                            <button class="btn custom-button btn-sm">Invite</button>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="previewObjectModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="previewObjectModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="pdfModalLabel">Document Preview</h5>
                            <button type="button" class="btn-close emptyPreview" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <object id="previewObject" width="100%" height="600px"></object>
                        </div>
                    </div>
                </div>
            </div>  
{%endblock maincontent%}

{% block extrascript %}

{% endblock extrascript %}