<form class="d-flex flex-wrap" method="post" enctype="multipart/form-data" id="uploadResumeForm" >
    {% csrf_token %}
    <div class=" col-6 p-2 mb-1">
        <label for="exampleFormControlInput1" class="form-label mb-0">Candidate Name</label>
        {{form.name}}
    </div>
    <div class="col-6 p-2 mb-1">
        <label for="id_email" class="form-label mb-0">Email Id</label>
        {{form.email}}
        <span id="email-error" class="text-danger"></span>
    </div>
    <div class="col-6 p-2 mb-1">
        <label for="phone_number" class="form-label mb-0">Mobile No</label>
        <input autocomplete="off" type="tel"  class="form-control form-control-sm"  name="phone_number" id="phone_number" autocomplete="off" pattern="[0-9]{10}" maxlength="10" minlength="10" required>
        {% comment %} {{form.phone_number}} {% endcomment %}
        <span id="contact_no-error" class="text-danger"></span> 
    </div>
    <div class="col-6 p-2 mb-1">
        <label for="exampleFormControlInput1" class="form-label mb-0">Upload file</label>
        {{form.resume}}
    </div>
    <div class="col-6 p-2 mb-1">
        <label for="exampleFormControlInput1" class="form-label mb-0">Remarks</label>
        {{form.remarks}}
    </div>

    <div id="candidateStatus"></div>
    <div class="col-12 p-2 mb-1">
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            <button class="btn custom-button btn-sm" type="submit" id="submitResume">Upload</button>
        </div>
    </div>
</form>
    {% if error_message %}
    <div class="alert alert-danger" role="alert" id="errorModal" style="display: none;">
        {% for message in error_message %}
            {{ message }}
        {% endfor %}
        <button type="button" class="close" id="closeErrorAlert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert" id="errorModal" style="display: none;">
        {% for message in form.errors %}
            {{ message }}
        {% endfor %}
        <button type="button" class="close" id="closeErrorAlert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    
    <script>
        $(document).ready(function() {
            function checkEmailExists() {
                var email = $('#id_email').val(); // Adjust the ID based on your form field
                if (email) {
                    $.ajax({
                        type: 'GET',
                        url: '{% url "hr:check_email_exists" %}',
                        data: {'email': email},
                        success: function(response) {
                            if (response.candidate_exists) {
                                $('#email-error').text('Email already exists.');
                            } else {
                                $('#email-error').text('');
                            }
                        },
                        error: function() {
                            $('#email-error').text('Error checking email existence.');
                        }
                    });
                } else {
                    $('#email-error').text('');
                }
            }
    
            function checkContactNoExists() {
                var phone_number_exists = $('#phone_number').val(); // Adjust the ID based on your form field
                if (phone_number_exists) {
                    $.ajax({
                        type: 'GET',
                        url: '{% url "hr:check_contact_no_exists" %}',
                        data: {'phone_number': phone_number_exists}, // Include both contact_no and phone_number
                        success: function(response) {
                            if (response.contact_no_exists) {
                                $('#contact_no-error').text('Contact No already exists.');
                            } else {
                                $('#contact_no-error').text('');
                            }
                            if (response.phone_number_exists) {
                                $('#contact_no-error').text('Phone number already exists.');
                            } else {
                                $('#contact_no-error').text('');
                            }
                        },
                        error: function() {
                            $('#contact_no-error').text('Error checking contact number existence.');
                        }
                    });
                } else {
                    $('#contact_no-error').text('');
                }
            }
    
            $('#id_email').on('change', function() {
                checkEmailExists();
            });
    
            $('#phone_number').on('change', function() {
                checkContactNoExists();
            });
        });
    </script>