{% extends 'component/base.html' %}

{% load static %}

{% block title %}Interview Schedule{% endblock title %}

{% block extracss %}
{% endblock extracss %}

{% block maincontent %}
<div class="main-content">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
        <div class="row">
            <div class="col-10 form-group">
                {{ message }}
            </div>
            <div class="col-2 form-group d-flex justify-content-end">
                <button type="button" class="btn-close close-success" data-bs-dismiss="alert"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div id="alert-container">
        {% if success_message %}
        {% endif %}
    </div>
 
    <div class="card">
        <div class="card-header border-bottom-0">
            <div class="d-flex justify-content-between">
                <div class="text-center d-flex align-items-center">
                    <h6 class="mb-0 pageTitle"><strong>Interview Schedule List of {{resume.name}}</strong></h6>
                </div>
                <button type="button" class="btn custom-button btn-sm" data-bs-toggle="modal" data-bs-target="#scheduleinterviewModal">
                    schedule interview
                  </button> 
            </div>
        </div>
        <div class="card-body">
            <div class="row w-100 h-20 overflow-hidden mt-3">
                <div class="table-responsive overflow-auto ">
                    <table class="table table-responsive text-center w-100" id="interviews_table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Interview Date</th>
                                <th>Interview Time</th>
                                <th>Interview Round</th>
                                <th>Interview Mode</th>
                                <th>Interviewer</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if interviews %}
                                {% for interview in interviews %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ interview.interviewDate }}</td>
                                        <td>{{ interview.interviewTime|time:"h:i A" }}</td>
                                        <td>{{ interview.interviewRound }}</td>
                                        <td>{{ interview.interviewMode }}</td>
                                        <td>{{ interview.interviewer }}</td>
                                        <td>{{ interview.get_interviewround_status_display }}
                                        </td>
                                        <td>
                                            <button class="btn btn-sm custom-button me-2 edit-interviewround_list"
                                            data-interviewround_list-id="{{ interview.id }}">
                                            <i class="bi bi-pencil-square"></i></button>                                    
                                            <button class="btn btn-sm btn-danger me-2 delete-interviewround_list" data-interviewround_list-id="{{ interview.id }}">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>    
   <!-- Company InterviewRound edit Modal -->
<div class="modal fade" id="Editinterviewround_listModal" tabindex="-1" aria-labelledby="Editinterviewround_listModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="updateinterviewround_listForm" method="post">
                {% csrf_token %}
                <input type="hidden" id="editinterviewround_listId" name="interviewround_id">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="Editinterviewround_listModalLabel">Edit Interview Round</h1>
                    <button type="button" class="btn-close  btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap w-100">
                        <div class="col-12 mb-2">
                            <label for="edit_interview_date" class="form-label">Interview Date</label>
                            <input type="date" class="form-control form-control-sm" id="edit_interview_date" name="interviewDate" required>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="edit_interview_time" class="form-label">Interview Time</label>
                            <input type="time" class="form-control form-control-sm" id="edit_interview_time" name="interviewTime" required>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="edit_department" class="form-label">Department</label>
                            <select class="form-control form-control-sm" id="edit_department" name="department" required>
                                <!-- Options will be populated dynamically via JavaScript -->
                            </select>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="edit_designation" class="form-label">Designation</label>
                            <select class="form-control form-control-sm" id="edit_designation" name="designation" required>
                                <!-- Options will be populated dynamically via JavaScript -->
                            </select>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="edit_interview_round" class="form-label">Interview Round</label>
                            <select class="form-control form-control-sm" id="edit_interview_round" name="interviewRound" required>
                                <!-- Options will be populated dynamically via JavaScript -->
                            </select>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="edit_interviewer" class="form-label">Interviewer</label>
                            <select id="edit_interviewer" class="form-control form-control-sm" name="interviewer" required>
                                <option value="" selected>Select Interviewer</option>
                            </select>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="edit_interview_mode" class="form-label">Interview Mode</label>
                        <select id="edit_interview_mode" class="form-control form-control-sm" name="interviewMode" required>
                            <option value="" selected>Select Interview Mode</option>
                            <option value="Online">Online</option>
                            <option value="Face to Face">Face to Face</option>
                        </select>
                    </div> 
                    <div class="col-12 mb-2  interviewmodeLink hide">
                        <label for="id_interviewTime" class="form-label">Online Interview Link</label>
                        <input type="text" name="interviewLink" class="form-control form-control-sm">
                    </div>
                        <div class="col-12 mb-2">
                            <label for="edit_remarks" class="form-label">Remarks</label>
                            <textarea class="form-control form-control-sm" id="edit_remarks" name="interviewround_remarks" rows="3" required></textarea>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="edit_status" class="form-label">Status</label>
                            <select class="form-select form-select-sm" id="edit_status" name="interviewround_status" required>
                                <option value="1">Complete</option>
                                <option value="2">Pending</option>
                                <option value="3">Rejected</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn custom-button btn-sm" id="save_interviewround_list_changes_btn">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <!-- Modal for Success Message -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success!</h5>
                    <button type="button" class="btn-close  btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Success message content goes here -->
                    <p>Interview Round Status & Remarks updated successfully.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form method="post" id="interviewFeedbackForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-2 form-group">
                    <label for="{{interviewFeedbackForm.remarks.id_for_label}}" class="form-label mb-0 mb-0"> Interview Remarks</label>
                    {{interviewFeedbackForm.remarks}}
                </div>
                <div class="col-2 form-group">
                    <label for="{{interviewFeedbackForm.interviewFeedback.id_for_label}}" class="form-label mb-0 mb-0"> Interview
                        Feedback</label>
                    {{interviewFeedbackForm.interviewFeedback}}
                </div>
                <div class="col-3 form-group ">
                    <label for="{{interviewFeedbackForm.interviewFeedback.id_for_label}}" class="form-label mb-0 mb-0">Interview Feedback Date</label>
                    <span>{{interviewFeedbackForm.interviewFeedback_date}}</span>
                </div>
                <div class="col-5 form-group text-end mt-4">
                    <input type="submit" name="interviewFeedbackSave" id="interviewFeedbackSave" value="Save"
                        class="btn custom-button btn-sm">
                    <input type="hidden" name="interviewFeedbackId" id="interviewFeedbackId"
                        value="{{resume.candidate_id}}" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="scheduleinterviewModal" tabindex="-1" aria-labelledby="scheduleinterviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Schedule Interview</h1>
          <button type="button" class="btn-close  btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="">
                <form id="scheduleinterviewForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="candidateName" class="form-label mb-0">Name</label>
                            <input type="text" name="candidateName" id="candidateName" value="{{resume.name}}" class="form-control form-control-sm" disabled>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="candidateEmail" class="form-label mb-0">Email</label>
                            <input type="text" name="candidateEmail" id="candidateEmail" value="{{resume.email}}" class="form-control form-control-sm text-lowercase" disabled>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="candidatePhoneNumber" class="form-label mb-0">Mobile Number</label>
                            <input type="tel" name="candidatePhoneNumber" id="candidatePhoneNumber" value="{{resume.phone_number}}" class="form-control form-control-sm" disabled>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="{{ form.Exp.id_for_label }}" class="form-label mb-0">Years Of Experience</label>
                            <input type="tel" name="Exp" value="0.0" class="form-control form-control-sm"  step="0.1" min="0" max="99" pattern="\d+(\.\d{1})?" required=""  id="id_Exp">
                        </div>
                        <div class="mb-3 col-12">
                            <label for="departmentoptions" class="form-label mb-0">Department</label>
                            <select id="departmentoptions" class="form-select form-select-sm" name="department" required>
                                <option value="" selected>Select Department</option>
                                {% for dept in interviewdepartment %}
                                <option value="{{ dept.id }}">{{ dept.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="designationoptions" class="form-label mb-0">Designation</label>
                            <select id="designationoptions" class="form-select form-select-sm" name="designation" required>
                                <option value="" selected>Select Designation</option>
                            </select>
                            <input type='hidden' name='hiddendesignationoptions' id='hiddendesignationoptions' />
                        </div>
                        <div class="mb-3 col-12">
                            <label for="id_interviewRound" class="form-label mb-0">Interview Round</label>
                            {{InterviewFieldsets.interviewRound}}
                        </div>
                        <div class="mb-3 col-12">
                            <label for="intervieweroptions" class="form-label mb-0">Interviewer</label>
                            <select id="intervieweroptions" class="form-select form-select-sm" name="interviewer" required>
                                <option value="" selected>Select Interviewer</option>
                            </select>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="id_interviewMode" class="form-label mb-0">Mode of Interview</label>
                            {{InterviewFieldsets.interviewMode}}
                        </div>
                        <div class="mb-3 col-12">
                            <label for="id_interviewDate" class="form-label mb-0">Date of Interview</label>
                            {{InterviewFieldsets.interviewDate}}
                        </div>
                        <div class="mb-3 col-12">
                            <label for="id_interviewTime" class="form-label mb-0">Time of Interview</label>
                            {{InterviewFieldsets.interviewTime}}
                        </div>
                        <div class="mb-3 col-12 interviewmodeLink hide">
                            <label for="id_interviewTime" class="form-label mb-0">Online Interview Link</label>
                            <input type="text" name="interviewLink" class="form-control form-control-sm">
                        </div>

                        <div class="mb-3 col-12">
                            <label for="interviewround_remarks" class="form-label mb-0">Remarks</label>
                            <textarea class="form-control form-control-sm" id="interviewround_remarks" name="interviewround_remarks" rows="3" required></textarea>
                        </div>

                      

                        <input type="hidden" name="candidate_id" value="{{resume.candidate_id}}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn custom-button btn-sm">Schedule</button>
                      </div>
                </form>
            </div>  
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>
<!-- Modal -->
{%endblock maincontent%}
{% block extrascript %}
<script>
    $(document).ready(function() {
        $('#scheduleinterviewForm').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
    
            $.ajax({
                url: "{% url 'hr:scheduleInterview' candidate_id=resume.candidate_id %}",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data){
                    $("#scheduleinterviewModal .modal-body").html('<div class="alert alert-success">Interview round Add successfully!</div>');
                    setTimeout(function(){
                        $("#scheduleinterviewModal").modal('hide');
                        location.reload();
                    }, 1000);
                },
                
                error: function(xhr, status, error) {
                    alert("An error occurred: " + error);
                }
            });
        });
    });
    

    function loadInterviewers(departmentId, interviewRound, selectedInterviewerName) {
        var interviewerSelect = $("#edit_interviewer");
        $.ajax({
            url: "/hr/ajax/load_interviewer/",
            data: {
                'department_id': departmentId,
                'interview_round': interviewRound
            },
            success: function (data) {
                interviewerSelect.empty();
                interviewerSelect.append(
                    $("<option>").attr('value', '').text('Select Interviewer')
                );
                data.interviewers.forEach(function(interviewer) {
                    var option = $("<option>").attr('value', interviewer.name).text(interviewer.name);
                    if (interviewer.name === selectedInterviewerName) {
                        option.attr('selected', 'selected');
                    }
                    interviewerSelect.append(option);
                });
            }
        });
    }
 
    $(document).on('click', '.edit-interviewround_list', function() {
        var interviewround_list_id = $(this).data('interviewround_list-id');
    
        $.ajax({
            url: "{% url 'hr:get_interviewround_list_id_details' 0 %}".replace('0', interviewround_list_id),
            type: "GET",
            success: function(data) {
                $('#editinterviewround_listId').val(data.id);
                $('#edit_interview_date').val(data.interviewDate);
                $('#edit_interview_time').val(data.interviewTime);
    
                var interviewRoundSelect = $('#edit_interview_round');
                interviewRoundSelect.empty();
                interviewRoundSelect.append($('<option>', { value: '', text: 'Select Interview Round' }));
                data.interviewRoundChoices.forEach(function(choice) {
                    interviewRoundSelect.append($('<option>', { value: choice.value, text: choice.display, selected: choice.value === data.interviewRound }));
                });

                $('#edit_interview_mode').val(data.interviewMode);
                $('#edit_remarks').val(data.interviewround_remarks);
                $('#edit_status').val(data.interviewround_status);
    
                var departmentSelect = $('#edit_department');
                departmentSelect.empty();
                departmentSelect.append($('<option>', { value: '', text: 'Select Department' }));
                data.department_choices.forEach(function(choice) {
                    departmentSelect.append($('<option>', { value: choice.id, text: choice.name, selected: choice.id === data.department }));
                });
    
                var designationSelect = $('#edit_designation');
                designationSelect.empty();
                designationSelect.append($('<option>', { value: '', text: 'Select Designation' }));
                data.designation_choices.forEach(function(choice) {
                    designationSelect.append($('<option>', { value: choice.id, text: choice.name, selected: choice.id === data.designation }));
                });

           
    
                // Populate interviewers based on the selected department and interview round
                loadInterviewers(data.department, data.interviewRound, data.interviewer);
    
                $('#Editinterviewround_listModal').modal('show');
            },
            error: function(xhr, status, error) {
                alert("Error retrieving interview round data");
            }
        });
    });


        // AJAX for updating an Interviewround
        $('#updateinterviewround_listForm').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData($(this)[0]);
            $.ajax({
                type: "POST",
                url: "{% url 'hr:update_interviewround' %}",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    $("#Editinterviewround_listModal .modal-body").html('<div class="alert alert-success">Interview round updated successfully!</div>');
                    setTimeout(function(){
                        $("#Editinterviewround_listModal").modal('hide');
                        location.reload();
                    }, 2000);
                },
                error: function(xhr, status, error) {
                    $("#Editinterviewround_listModal .modal-body").html('<div class="alert alert-danger">' + xhr.responseJSON.error + '</div>');
                }
            });
        });



        $("#edit_department").change(function () {
            var id = $(this).val();
            var designationSelect = $("#edit_designation");
    
            $.ajax({
                url: "/hr/ajax/load_designation/",
                data: {
                    'department': id
                },
                success: function (data) {
                    designationSelect.empty();
                    designationSelect.append(
                        $("<option>").attr('value', '').text('Select Designation')
                    );
                    data.designations.forEach(function(designation) {
                        designationSelect.append(
                            $("<option>").attr('value', designation.id).text(designation.name)
                        );
                    });
                }
            });
        });
    

        $("#edit_interview_round").change(function () {
            var interviewRound = $(this).val();
            var departmentId = $("#edit_department").val();
            loadInterviewers(departmentId, interviewRound, '');
        });

        $("#edit_interview_round").change(function () {
            var interviewRound = $(this).val();
            var departmentId = $("#edit_department").val();
            loadInterviewers(departmentId, interviewRound, '');
        });

        $('#edit_interview_mode').change(function () {
            // Get the selected option value
            var selectedOption = $(this).val();
    
            // Check if the selected option is 'online'
            if (selectedOption === 'Online') {
                // Show the element with the class 'interviewmodeLink'
                $('.interviewmodeLink').show();
            } else {
                // Hide the element with the class 'interviewmodeLink'
                $('.interviewmodeLink').hide();
            }
        });

    </script>


{% endblock extrascript %}